[2020-02-12 17:47] smithki opened #1 "Draft CEP for Magic SDK"

[2020-02-18 17:48] Ethella opened #2 "Create Rollbar Project for magic"

[2020-02-18 19:34] #2 closed, assigned to Ethella

[2020-02-19 23:43] smithki opened #3 "Magic Client-side SDK"

[2020-02-19 23:50] smithki opened #4 "[M1] Copy FortmaticJS as a code boilerplate for MagicJS"

[2020-02-22 00:30] smithki opened #6 "[M3] Implement client-side JSON RPC Architecture for MagicJS"

[2020-02-22 00:31] smithki opened #7 "[M4] Create client-side JSON RPC endpoints for MagicJS"

[2020-02-22 00:34] smithki opened #8 "[M6] Add unit-test coverage"

[2020-02-22 00:35] smithki opened #9 "[M7] Add CI setup"

[2020-02-24 20:04] #4 closed, assigned to smithki

[2020-02-24 20:04] #6 closed, assigned to smithki

[2020-02-24 20:04] #9 closed, assigned to smithki

[2020-02-24 22:38] #1 closed, assigned to smithki

[2020-02-26 21:17] #7 closed, assigned to smithki

[2020-02-27 23:13] smithki opened #13 "Create Magic SDK kitchen sink demo"

[2020-02-27 23:13] #13 closed, assigned to smithki

[2020-02-28 18:07] #8 closed, assigned to smithki

[2020-03-02 18:34] smithki opened #14 "Humanize JSON RPC errors from auth relayer"

[2020-03-02 23:41] #14 closed, assigned to smithki

[2020-03-06 18:05] #3 closed, assigned to smithki

[2020-03-30 02:51] Jmjin opened #25 "ErrCode Inconsistency reported by EricElliot team"
![image](https://user-images.githubusercontent.com/2061005/77870563-9857b600-71f6-11ea-920b-f7a64b41914e.png)

[2020-03-30 17:17] #25 closed, assigned to smithki

[2020-03-30 18:31] FYJen opened #26 "Changelog for magic-js"
I like the markdown but open to any suggestion (https://keepachangelog.com/en/1.0.0/)

[2020-04-02 18:57] Ethella opened #32 "React-native magic-sdk"

[2020-04-09 04:22] smithki opened #35 "Support React Native"
Jerry has built a foundation of work that we can follow here to implement React Native support: https://github.com/fortmatic/fortmatic-js/tree/react-native-2.1

I will be prioritizing this after Web3 support ships in #28

[2020-04-09 18:25] smithki opened #36 "Document Web3 support"

[2020-04-09 23:02] #26 closed, assigned to smithki

[2020-04-11 23:00] smithki opened #38 "Unit test React Native changes"
Before we release React Native features, we should update the current unit tests to reflect changes in core business logic. We also need to get coverage back to 100% by testing all the new code related to our React Native implementation.

[2020-04-11 23:08] smithki opened #39 "Raise error if React Native peer dependencies are missing"
We want to avoid adding `react` and `react-native` to `peerDependencies` so that developers working with the browser bundle (which is likely to be the vast majority) do not receive superfluous warnings when they run `npm install`. Another way to tackle the issue of peer dependencies in this case would be to raise an error from the SDK constructor.

Personally, I think it may be unnecessary since R

[2020-04-15 19:08] smithki opened #40 "Add 'preload' method"
We've had several partners request this feature and it turns out that having it will also unblock React Native integration for `mgbox.io`

[2020-04-16 15:56] smithki opened #43 "[OSS Prep] README Updates"
A README.md that includes but not limited to the following sections:

- Introduction
- Table of Content
- Installation
- Quick Start
- How to Contribute
- Changelog
- License

[2020-04-16 15:57] smithki opened #44 "[OSS Prep] Issue/PR Templates"

[2020-04-16 15:58] smithki opened #45 "[OSS Prep] Security Check"

[2020-04-16 17:35] #40 closed, assigned to smithki

[2020-04-16 17:35] #36 closed, assigned to seanli, smithki

[2020-04-16 18:04] #43 closed, assigned to smithki

[2020-04-16 18:04] #44 closed, assigned to smithki

[2020-04-16 18:07] smithki opened #47 "Test Bug"
### ✅ Prerequisites

- [ ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [ ] Are you running the latest SDK version?
- [ ] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

[Description of the bug.]

### 🧩 Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### 🤔 Expected behavior

[What you expected to h

[2020-04-16 18:07] #47 closed, assigned to nobody

[2020-04-16 18:09] smithki opened #48 "Test Bug #2"
### ✅ Prerequisites

- [ ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [ ] Are you running the latest SDK version?
- [ ] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

[Description of the bug.]

### 🧩 Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### 🤔 Expected behavior

[What you expected to h

[2020-04-16 18:09] #48 closed, assigned to nobody

[2020-04-17 02:37] #45 closed, assigned to FYJen, smithki

[2020-04-17 18:19] FYJen opened #51 "Add repo badges to promote transparency and trust"
A few ideas:

- Security badge from https://snyk.io/
- Build passing badge
- Test cover badge
- NPM version badge

[2020-04-17 18:23] Ethella opened #52 "Add test to new RN SDK"
@Ethella commented on [Fri Feb 28 2020](https://github.com/fortmatic/fortmatic-js/issues/129)

[2020-04-17 18:25] Ethella opened #53 "Optimize bundling for RN and Web"
@Ethella commented on [Thu Feb 27 2020](https://github.com/fortmatic/fortmatic-js/issues/128)

* A temporary solution for now
https://github.com/fortmatic/fortmatic-js/issues/121

* reduce duplicate code
* Setup building environment

---

@Ethella commented on [Fri Apr 10 2020](https://github.com/fortmatic/fortmatic-js/issues/128#issuecomment-612266407)

The new idea is to install the needed packa

[2020-04-17 18:26] Ethella opened #54 ""URL" is not supported in RN"
@Ethella commented on [Sat Feb 15 2020](https://github.com/fortmatic/fortmatic-js/issues/111)

https://github.com/facebook/react-native/blob/0.59-stable/Libraries/Blob/URL.js#L157

RN does not support `URL`, need to rewrite it in a different format

---

@Ethella commented on [Wed Feb 19 2020](https://github.com/fortmatic/fortmatic-js/issues/111#issuecomment-588539377)

Two options,

1. Adding hac

[2020-04-17 18:28] #52 closed, assigned to smithki

[2020-04-17 18:29] #53 closed, assigned to smithki

[2020-04-17 18:30] #54 closed, assigned to smithki

[2020-04-22 05:44] #38 closed, assigned to smithki

[2020-04-22 19:50] #35 closed, assigned to smithki

[2020-04-22 20:27] smithki opened #60 "Document React Native features"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Add documentation to https://docs.magic.link/ about support for React Native.

## 🧩 Context

None.

## 💻 Examples

None.

[2020-04-22 23:17] #60 closed, assigned to smithki

[2020-04-23 00:13] smithki opened #62 "Certain globals need polyfilling for React Native"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

`atob`, `btoa`, and `process` is not defined in React Native.

### 🧩 Steps to Reproduce

1. Set up React Native Project
2. Import/instantiate Magic
3. Br

[2020-04-23 02:22] #62 closed

[2020-04-23 18:55] smithki opened #71 "Incorrect type signature for `RPCProviderModule.enable`"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

The return type for `RPCProviderModule.enable` is `Promise<string>`, but the actual value returned is `Promise<string[]>`.

### 🧩 Steps to Reproduce

1.

[2020-04-25 01:58] FYJen opened #73 "Add `vulnerabilities` and `circleci` badges to README"
[![<MagicHQ>](https://circleci.com/gh/MagicHQ/magic-js.svg?style=shield)](https://circleci.com/gh/MagicHQ/magic-js)

[![Known Vulnerabilities](https://snyk.io/test/github/MagicHQ/magic-js/badge.svg?targetFile=package.json)](https://snyk.io/test/github/MagicHQ/magic-js?targetFile=package.json)

[2020-04-28 19:53] harryEth opened #75 "Update the package.json author"
Update the author field when it is ready.

[2020-04-28 23:09] smithki opened #76 "URL Constructor Throws TypeError on Safari"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

On Safari, the `URL` constructor throws a `TypeError` if the second parameter is explicitly `undefined`. This does not occur if the second parameter is o

[2020-04-28 23:11] #51 closed

[2020-04-28 23:17] #71 closed

[2020-04-28 23:17] #76 closed

[2020-04-29 22:20] MarshallCB opened #78 "iframe performance with showUI: false"
## ✨ Feature Request

Load minimal lightweight iframe if showUI is set to false. Loading React + external CSS is unnecessary for custom loading UI's

## 🧩 Context

Trying to build a [login page](https://auth.mediant.co) -- the external UI dependencies for magic link largely outweigh my custom front-end. Performance is a priority, especially for other projects I'd like to incorporate magic link wit

[2020-04-30 03:10] smithki commented on #78
Thanks for contributing! Bundle performance is an issue we're very sensitive to. I'll make sure that lazy-loading our React dependencies is a priority in the next few days.

[2020-04-30 03:11] #32 closed

[2020-05-01 01:46] FYJen commented on #73
Snyk's support on badge content delivery seems to be lacking. The badge will only show up 50% of the time. It is flaky. It's been an issue for =many people -- https://github.com/snyk/snyk/issues/347

Removing the badge for now until that is addressed.

[2020-05-01 05:26] FYJen commented on #73
#74 and #80 are merged. Closing.

[2020-05-01 05:26] #73 closed

[2020-05-03 17:14] smithki commented on #78
With some smarter code-splitting and lazy-loading UI components, we have a pretty significant improvement!

---

If UI is not necessary for the flow, only the following chunks are loaded

<img width="1097" alt="Screen Shot 2020-05-03 at 11 04 21 AM" src="https://user-images.githubusercontent.com/22753882/80920630-455dab00-8d2e-11ea-8c65-99614c0a17b7.png">

Some of these chunks are also much lighte

[2020-05-04 23:44] smithki opened #81 "Add `chainType` parameter to `EthNetworkConfiguration` to support Harmony"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

To support [Harmony](https://www.harmony.one/) network, we'll need a new configuration option—`chainType`—to be added to the `EthNetworkConfiguration` interface. It would be helpful to also

[2020-05-05 17:53] #81 closed

[2020-05-05 17:55] smithki opened #83 "Update type signature of `RpcProviderModule` to implement Web3's `AbstractProvider`"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Currently, to use Web3 features in TypeScript, the `magic.rpcProvider` member must be cast to `any`, like this:

[code]

But, now that https://github.com/ethereum/web3.js/issues/3380 is reso

[2020-05-06 22:52] #78 closed

[2020-05-07 20:47] Ethella opened #87 "[React-native] Buffer found undefined"
### ✅ Prerequisites

- [ ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [ ] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Buffer found undefined when starting React Native app with Magic

### 🧩 Steps to Reproduce

### 🤔 Expected behavior

It shall have no error

### 😮 Actual

[2020-05-07 20:48] Ethella commented on #87
Handle by https://github.com/MagicHQ/magic-js/pull/86

[2020-05-07 20:48] #87 closed

[2020-05-15 00:48] mds1 opened #88 "Add support for ethers.js v5"
ethers.js v5 is currently in beta, but I've used it with other providers such as MetaMask and haven't had any issues with it. However, it seems Magic does not support ethers v5, as the following steps produced the error shown when using ethers 5.0.0-beta.186 but not when using ether v4.

This error showed up when loading the page. If you ignored it and proceeded to use the provider and signer, you

[2020-05-15 01:54] smithki commented on #88
How odd, we should be adding the ID automatically in cases where it is missing:

https://github.com/MagicHQ/magic-js/blob/797610986f3fc1d51a991a18cdaeaee132a3abd7/src/modules/rpc-provider/index.ts#L60

https://github.com/MagicHQ/magic-js/blob/797610986f3fc1d51a991a18cdaeaee132a3abd7/src/core/json-rpc.ts#L15

Is `Missing payload ID` the specific error you are receiving?

[2020-05-15 01:58] mds1 commented on #88
Yep, looks like it. Below is the full error from the console. The top half, above the `0`, is from the code snippet above. The bottom half below the `0` is from trying to use the provider or signer

![image](https://user-images.githubusercontent.com/17163988/82003201-9ade6580-9614-11ea-8ba2-c30cdcb967e3.png)

[2020-05-15 02:04] smithki commented on #88
Nice! Thanks for raising an issue. We will try to prioritize this soon, but considering Ethers V5 is beta software and we have other immediate priorities for improving Magic, it may not happen right away. We would also welcome a PR if you (or anyone else) is able to isolate the root cause! I would start my investigation here:

https://github.com/MagicHQ/magic-js/blob/797610986f3fc1d51a991a18cdaeae

[2020-05-15 02:11] mds1 commented on #88
Fair enough, though for what it's worth ethers v5 will likely be out of beta soon. The only thing currently blocking release is documentation updates, so I suspect others will run into this issue sometime soon

[2020-05-15 03:03] smithki commented on #88
I found the bug! We had a clash with our `BaseModule.request` method. It so happens that EIP1193 has "stabilized" around a promise-based `request` method. Thankfully, our interface already matched the EIP1193 proposal before that change was even written. We were not doing our regular check on the `payload.id` parameter from that method however!

I'll have a patch released for you tomorrow!

[2020-05-15 03:17] mds1 commented on #88
Oh awesome that was quick, thanks a lot!

[2020-05-15 03:59] smithki commented on #88
Fortunately it was a simple fix. The patch landed in `v1.3.3`! Let me know how that works for you and re-open this issue if the bug persists or re-emerges.

[2020-05-15 03:59] #88 closed

[2020-05-15 15:41] mds1 commented on #88
Just tested magic v1.3.3 with ethers 5.0.0-beta.187 and can confirm it's working as expected. Thanks again for the speedy fix!

[2020-05-15 20:51] smithki opened #90 "Audit our EIP1193 Implementation; Add support for events"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

The [EIP1193 spec](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1193.md#error-standards) is finally stable. We already, through total accident, implement `request` to the specificat

[2020-05-21 08:52] Burnsy opened #91 "Pulling correct Magic Type / Redwood.js Integration"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

Best Method to pull types for Magic Client (New ...

I have been working on the auth implementation of magic links for Redwood.js!

We have most of the implementation done but i could not find an easy

[2020-05-21 15:55] smithki commented on #91
Hey, thanks for opening an issue. You're right, we need to export a type alias for the constructor (we wrap our base constructors with some pretty complex typings to enable our extension architecture). I've left a comment on your PR with an interim solution, let me know how that works!

[2020-05-21 16:11] smithki commented on #91
I have a proposed fix in #92. I'll post another update once it passes testing and releases.

[2020-05-21 16:22] #91 closed

[2020-05-21 16:30] smithki commented on #91
Typings fix landed in `v1.3.4`. Please re-open this issue if you notice an lingering bugs!

[2020-05-22 22:06] Burnsy opened #93 "Listen to Client whist in headless Mode / showUI:false"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

When using `loginWithMagicLink({showUI: false})` have a method of monitoring  the state of the client so a custom UI could be implemented with the same logic as the MagicLinks Clients

## 🧩

[2020-05-23 18:04] smithki opened #94 "Refactor to a Lerna Monorepo"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Soon we will be offering open-source Magic SDK extensions. To support these upcoming new libraries more easily, we should refactor to a monorepo using [Lerna](https://github.com/lerna/lerna)

[2020-05-23 18:08] smithki opened #95 "Add Continuous Delievery (CD) via CircleCI (automated releases & changelog updates)"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Integrate with Intuit's [`auto`](https://intuit.github.io/auto/) project (it supports Lerna out of the box). By using `auto`, we can have continuous delivery of our packages via CircleCI.

[2020-05-23 20:58] smithki commented on #93
What if we return promievents from the request, instead of plain promises? Here’s an example implementation from [Web3](https://github.com/ethereum/web3.js/tree/1.x/packages/web3-core-promievent).

We could improve on that format with strong typing on a per-method basis, too.

[2020-05-23 23:18] Burnsy commented on #93
I think the .on() implementation could really work as you could change a ui state using a hook for example.

[2020-05-23 23:38] smithki commented on #93
Here's my take on a `PromiEvent` utility, which I think would meet this use-case quite well:

[code]

Let me know what you think @Burnsy -- I would appreciate feedback.

Also, in the interest of transparency, this sort of change may require some internal discussion here at Magic to ensure it can be implemented from the `<iframe>` side without complication. I'm feeling imaginative this weekend so I

[2020-05-23 23:50] Burnsy commented on #93
I am not too familiar on promievents, but it seems Good. I understand there is has to be testing on such changes.

How many events do you think they would be so that the developer could replicates the states of the current ui!

[2020-05-24 00:25] smithki commented on #93
That's a good question, maybe you can help me answer that.

Let's start with the few you mentioned:

- Email DNS Warning (do you mind expanding on this? What are you looking for specifically?)
- Email Sent to email Address
- ~Waiting for the client to accept the link~ I think this is implied if the promise has started

I'm also thinking to have these default events for every request:

- `done`: eq

[2020-05-24 12:37] oles opened #96 "Seemingly too many dependencies"
### ✅ Prerequisites

- [✅] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [✅] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

This is a neat product. I went ahead and tried it out, and then I got to the step of installing it via NPM.

On a new project, this was the result of `npm install magic-sdk`:

![Screenshot f

[2020-05-24 15:51] smithki commented on #96
Unfortunately, `snyk` is required to be a dependency (not dev dependency) because it needs to auto-patch security vulnerabilities via a `postinstall` hook. We rely on `snyk` for continuous security audits, which are very important to a project such as this.

I regret that there are so many dependencies required to download, though I’m curious why this is worrisome beyond the initial `yarn install`

[2020-05-24 19:09] smithki commented on #96
I think #94 is also somewhat related to this. We are discussing internally about moving to a Lerna monorepo (currently weighing the pros & cons & estimating the work required). One solution to the peer dependencies warning is to publish React Native support as a separate package.

[2020-05-24 19:22] Burnsy commented on #93
This what i meant by the DNS ERROR.

![image](https://user-images.githubusercontent.com/15834048/82762992-33869980-9dfc-11ea-962c-70e873276e31.png)

Looking at the error codes i guess its MagicLinkFailedVerification

[2020-05-25 13:23] oles commented on #96
There's many good points in Paul Miller's article for Chokidar v3: https://paulmillr.com/posts/chokidar-3-save-32tb-of-traffic, even though I might not agree with them all.

Then there's the various companies with strict IT departments, where it was difficult enough to just push Vue.js through.

Sounds good!

[2020-05-29 00:23] smithki commented on #93
We are moving forward with the `PromiEvent` pattern to solve this problem. These are the initial event types we are interested in implementing:

**Login Flow**
- `email-not-deliverable`: Dispatched if the magic link email is unable to be delivered.

- `email-sent`: Dispatched when the magic link email has been successfully sent from the Magic Link server.

- `retry`: Dispatched when the user resta

[2020-05-29 02:40] smithki opened #98 "Document `PromiEvent` interface"
## 🧩 Context

`PromiEvent` was added in `v1.4.0`, but we have no documentation on how best to use it. We should document the specific APIs, as well as events for each relevant SDK method. Finally, we should also add an example of 100% "whitelabeled" authentication using Magic SDK.

[2020-05-29 02:41] smithki commented on #93
The initial implementation landed in `v1.4.0`. Documentation will be added soon (tracked by #98)

[2020-05-29 02:41] #93 closed

[2020-05-29 02:42] smithki commented on #90
`PromiEvent` landed in `v1.4.0`, which also makes `eventemitter3` a dependency of Magic SDK. Since `v1.4.0`, we are also overloading the `RPCProviderModule` interface with `EventEmitter` methods. To gain full support for EIP1193 subscriptions, we must now implement the WebSocket events.

[2020-05-29 20:13] Ethella opened #99 "Circle CI tag in readme is broken"
Context
---

![image](https://user-images.githubusercontent.com/33166884/83301094-de58d800-a1ad-11ea-9251-5058f079b20f.png)
https://circleci.com/gh/MagicHQ/magic-js

Circle CI is broken

[2020-05-29 20:37] smithki commented on #99
We recently renamed the GitHub organization from `MagicHQ` to `MagicLabs`, which explains this. I'll make sure it's resolved before the next release 😃

[2020-05-30 00:02] #99 closed

[2020-06-03 17:56] Dizigen opened #102 "Add support for Matic testnet V3"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request
Feature request from Clash of Coins
Currently only Matic testnet V2 is supported.

[2020-06-03 17:59] Dizigen opened #103 "Support for Observables when sending and listening for chain events"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Clash of Coins would like to use a custom websocket(observables) endpoint to achieve higher performance when sending transactions and listening to chain events.

[2020-06-04 22:43] #94 closed

[2020-06-04 22:53] #98 closed

[2020-06-05 06:07] harryEth commented on #102
Matic testnet V3 whitelisted. Closing this.

[2020-06-05 06:07] #102 closed

[2020-06-05 23:39] Ethella opened #104 "Support Expo Snack Sandbox"
### ✅ Prerequisites

- [*] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [*] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

[Description of the feature.]
magic-sdk/react-native can't be loaded in Expo snack, due to submodule importation is not supported in Expo.

## 🧩 Context

This ticket is used to backtrack the

[2020-06-05 23:40] Ethella commented on #104
This has been resolved by monorepo re-factor

https://github.com/magiclabs/magic-js/issues/94
https://github.com/magiclabs/magic-js/pull/101

Working example https://snack.expo.io/@jerry-liu/magic-link-test

[2020-06-05 23:40] #104 closed

[2020-06-12 20:23] Ethella opened #105 "[RN]Tried to register two views with the same name RNCWebView"
Reported by Decrypt

The error is caused by having two identical classes with identical names imported to the app and it’s thrown by the IOS builder.

Will fix it by putting React-native-webview as a peer dependency with a restricted range of versions

[2020-06-13 00:23] Ethella commented on #105
`"@magic-sdk/react-native": "2.0.0"` is released. Closing now

[2020-06-13 00:23] #105 closed

[2020-06-28 19:30] Ethella opened #110 "Support Expo SDK 38"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Support Expo SDK 38
Bump peer dependency Webview version to 9.4

## 🧩 Context

To support the latest expo version

[2020-06-30 19:07] harryEth opened #112 "Create readme for individual monorepo packages"
Npm package is missing the readme doc for magic-sdk` package. We should create readme for individual monorepo packages.

[2020-07-09 16:58] smithki opened #117 "Add a runtime type-checker to improve DX"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

I would like to explore the usage of [`io-ts`](https://github.com/gcanti/io-ts) to improve developer experience by reporting type errors at runtime. My preference would be that this is an op

[2020-07-21 21:25] Ethella opened #121 "Optimize Snyk and reduce the bundle size"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Optimize Synk and SDK size

## 🧩 Context

Snyk is a good tool for patching the vulnerabilities in dependencies. But it gives too much weight in the SDK, while`npm audit` and `github dependab

[2020-07-22 21:32] smithki opened #122 "Check for Magic SDK Extension version compatibility at runtime"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Because we need to support `magic-sdk` and `@magic-sdk/react-native` as separate entries, we cannot make use of the `peerDependencies` field of `package.json` without adding noisy (and perha

[2020-07-22 21:33] smithki commented on #39
Related to #122

[2020-07-22 21:33] smithki commented on #122
Related to #39

[2020-08-04 19:52] #110 closed

[2020-08-15 12:00] verekia opened #124 "Try Aain typo"
### 🧩 Steps to Reproduce

When submitting an invalid email address, there is a big typo in the "Try Aain" popup.

<img width="438" alt="Screenshot 2020-08-15 at 13 54 40" src="https://user-images.githubusercontent.com/522007/90311828-91a8b180-deff-11ea-9de5-9b22b1131b6a.png">

### 🌎 Environment

`"magic-sdk": "^2.4.7"`

[2020-08-23 14:19] TomAFrench opened #126 "Typescript errors when creating provider in ethersv5"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Trying to create an ethersv5 `Web3Provider` using `magic.rpcProvider` as described in docs results in a Typescript error

### 🧩 Steps to Reproduce

1. In

[2020-08-24 16:25] smithki commented on #126
Possible dupe or related to #83?

For now, does casting `magic.rpcProvider` to `any` fix your issue?

[2020-08-24 23:33] TomAFrench commented on #126
Ah whoops, yeah this is a duplicate. I'm using `// @ts-ignore` for that line at the moment.

[2020-08-24 23:33] #126 closed, assigned to smithki

[2020-08-24 23:55] smithki commented on #126
This works, but I recommend casting to `any` so that any other type errors on that line become apparent 😃

I'll try to solve the typings issues between Web3JS and Ethers soon!

[2020-09-03 06:19] Ethella commented on #124
The issue has been resolved. If you still see this issue, feel free to re-open the ticket

[2020-09-03 06:26] Ethella opened #129 "Lock Magic associated sub-dependencies"
A potential issue

When developers lock an older version, for instance, "@magic-sdk/react-native@2.4.0"

Because we use `^` to lock the major version, the version of sub-dependencies will bump to @magic-sdk/provider@2.6.0.

To avoid introducing a potential issue to older versions during CI. We should lock the sub-dependencies in the package.json

[2020-09-07 17:10] phbdias opened #131 "[Magic SDK for React Native] Missing dependencies on Android build"
### ✅ Prerequisites

- [✅] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [✅] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I have been trying to integrate Magic SDK for React Native on a project, however I am struggling to get it to work properly.

When I build the app on an Android device, it fails with the following err

[2020-09-09 00:56] prbdias commented on #131
It might be related with the fact that React Native runs on top of JavaScriptCore which doesn't have support yet for BigInt nor SharedArrayBuffer. In theory and assuming this is the root cause, the library might work just fine on Chrome but have similar issue on Safari which also runs on top of JavaScriptCore.
Would be interesting to understand which dependencies are using these unsupported native

[2020-09-16 22:22] smithki commented on #129
I would be open to using `~` instead to get latest patch versions while locking minor versions!

[2020-09-16 22:25] Ethella commented on #131
Hey @prbdias @phbdias, I'll take a closer look to see what's the missing pieces. Sorry for the late reply

[2020-09-18 22:44] Ethella commented on #131
Here's an update to it. One of our RN dependency `whatwg-url` has recently updated their minor version with a change of major version update of `webidl-conversions`. In this package, it uses BigInt which RN env does not support at them moment.

* whatwg-url@^8.1.0
  * webidl-conversions “^5.0.0”
* whatwg-url@^8.2.2
  * webidl-conversions@^6.1.0 (Use BigInt and Crashes)

I'll draft a quick fix to c

[2020-09-19 00:41] #131 closed

[2020-09-19 00:49] Ethella commented on #129
RN package dependencies have been updated via #132

[2020-09-19 01:07] Ethella commented on #131
`@magic-sdk/react-native@2.7.1` has been released to resolve the issue. Feel free to give it a try.

[2020-09-19 16:32] prbdias commented on #131
@Ethella I've just tried and it's working like charm. 🎉🎉🎉

Thank you!

[2020-09-24 17:39] #122 closed

[2020-09-27 15:43] JavierTrujilloG opened #137 "Accessing Ethereum user's account from non-view React modules (e.g Redux sagas)"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

Hi there,

I was wondering if there's any way to access user's ephemeral private keys from React components that are not presentational and thus do not include the <m.relayer>. An example could be a r

[2020-09-28 22:14] smithki commented on #137
You can invoke your Magic instance from anywhere in your React Native app, but for the response to process, you'll need to be rendering `<m.Relayer>` somewhere (anywhere). I recommend adding `<m.Relayer>` in the root component of your app!

[2020-09-30 07:07] JavierTrujilloG commented on #137
Thanks for your response @smithki , unfortunately that doesn't seem to work.. have you guys tried it before? Curious to see if there might be something wrong on my end.

[2020-10-03 12:04] andreashouben opened #138 "Magic does not work with web3.js 1.3.0"
### ✅ Prerequisites

- ✅ Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- ✅ Are you running the latest SDK version?
- ✅ Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When trying to retrieve Ethereum wallet accounts with web3js version 1.3.0 you'll get an error in the base-module saying "transport" is undefined.

**Note!** I

[2020-10-05 20:59] smithki commented on #138
I believe this is the cause: https://github.com/ethereum/web3.js/commit/e7adda5727b1e5a003872fe0657bd47af2b64950#diff-11cbf793feb1c35899194d3a17c4ece4R166

I will have to dig deeper to find out why and whether it can be solved from our side. I have raised this issue with Web3 as well: https://github.com/ethereum/web3.js/issues/3737

Considering the breaking change was introduced from the Web3-side

[2020-10-05 22:06] Ethella commented on #137
@JavierTrujilloG Sorry for the late reply. I'll take a look using redux saga

[2020-10-09 23:21] Ethella commented on #138
@andreashouben You may revert the web3 back to web3@1.2.11 version to get around the issue

[2020-10-12 19:17] andreashouben commented on #138
Yes thanks.  That's what I did. I also noted that in my bug report :-)

[2020-10-13 15:51] phbdias opened #139 "[Magic SDK for React Native] Web3 calls not working due to undefined function"
### ✅ Prerequisites

- [✅] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [✅] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

After the most recent changes on Magic SDK for React Native, I have been able to successfully login on Android. However, whenever I try to perform a web3 call, the following error occurs:

"TypeError:

[2020-10-19 20:38] Ethella commented on #138
Closing this, feel free to re-open this when an issue has occurred

[2020-10-19 20:38] #138 closed

[2020-10-19 20:40] Ethella commented on #139
Sorry that I'm super busy with the IOS fix. I'll try to put some resources into the current week.

[2020-10-22 05:09] smithki commented on #122
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #131
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #94
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #91
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #110
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #91
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #71
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #76
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #62
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #43
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #44
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #81
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #6
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #9
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #4
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #8
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:10] smithki commented on #35
:rocket: Issue was released in [`@magic-sdk/provider@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%403.0.1), [`@magic-sdk/react-native@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%403.0.1), [`@magic-sdk/types@2.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/types%402.0.1), [`magic-sdk@3.0.1`](https://

[2020-10-22 05:20] #95 closed

[2020-10-22 05:21] #75 closed

[2020-10-22 05:32] #112 closed

[2020-10-28 11:34] Nuch1991 opened #148 "[DESCRIPTIVE BUG NAME]"
### ✅ Prerequisites

- [perya2456@gmail.com ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [ ](perya2456@gmail.com) Are you running the latest SDK version?
- [ perya2456@gmail.com] Are you reporting to the correct repository (`magic-sdk`ETH`sys'Tron)?

### 🐛 Description

[Description of the bug.]

### 🧩 Steps to Reproduce
npm i --save fortmatic
yarn ad

[2020-10-28 16:53] smithki commented on #148
@Nuch1991 -- Not sure what issue you're trying to raise here, but if it comes to you, please open a new issue and fill in the issue template appropriately.

[2020-10-28 16:53] #148 closed

[2020-10-28 18:31] Nuch1991 commented on #148
Yatayaand

[2020-10-30 18:32] phbdias commented on #139
It seems that the problem appeared when web3.js introduced the use of callbackify on version 1.2.10, however they are managing to surpass this problem on their new version ([](https://github.com/ethereum/web3.js/pull/3733)).

I am aware that Magic SDK is not supporting the recent versions (@1.3.x) of web3 and therefore, I won't be able to bump web3 to its last version, which solves this "callbacki

[2021-01-11 19:07] mlejva opened #155 "How to use Magic with Electron app?"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

We are working on an Electron app and would like to use Magic. Currently, we can't use `magic-js` in the render process of Electron due to the fact that as far as I know we can't make Magic to redirec

[2021-01-14 20:24] smithki commented on #155
@mlejva Wanted to ack this for you. I will have a chance to investigate this early next week.

[2021-01-14 21:35] mlejva commented on #155
@smithki Thanks! Let me know if you need more info.

[2021-01-15 18:37] mlejva opened #156 "Magic doesn't work in Vivaldi browser"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

One of our users is using the [Vivaldi browser](https://vivaldi.com) and getting the following error `Magic RPC Error: [-32603] Internal error: Network E

[2021-01-15 19:20] smithki commented on #156
I just tested the "happy" flow in Vivaldi with our [`"hello world"`](https://go.magic.link/hello-world) example and couldn't reproduce the issue.

The console error suggests a `Network Error` being raised from our `<iframe>`. Unfortunately this type of issue is oftentimes environmental (and temporary), though it would help to have some more information:

- Does the issue occur consistently in Viva

[2021-01-15 19:35] smithki commented on #155
Okay, so just to make sure I understand the flow you're trying to implement here, it goes like this:

1. User clicks sign in from your Electron app
2. User clicks magic link email from their inbox
3. The `redirectURI` provided to Magic SDK in step 1 is a _server-side_ endpoint and calls `loginWithCredential`
4. You're logged in! Profit!

The issue occurs at **step 3**, which can't happen server-si

[2021-01-15 19:51] ValentaTomas commented on #155
Hey, I'm the other guy trying the implement this flow.

Just a few clarifying questions about the flow you proposed:

We will be calling `loginWithMagicLink` from the electron app? Right now the `redirectURI` is checked by `magic-sdk` and if the domains don't match there is an error.

Should this page be hosted by a server inside the electron app?

[2021-01-15 20:31] smithki commented on #155
I'm not too experienced with Electron myself, can you tell me what's the URL origin for a typical Electron context? Is it just `localhost`?

Hopefully this will be possible soon 🤞 but first we'll need to implement a few changes on our side to support deep-linking redirects. The static page you host should be rendered in a browser (not Electron) until we have native support!

[2021-01-15 20:37] ValentaTomas commented on #155
During the development, the electron has usually the `localhost` origin, but when the app is packaged the origin has the `file://` protocol.

[2021-01-15 20:47] smithki commented on #155
Hmmm, this could actually pose a problem using `redirectURI` because we rely on the URL origin to be consistent. I'll raise this with our platform team so we can try to work through the potential security edge-cases. I'll have something more substantial to share next week!

[2021-01-17 21:58] mlejva commented on #156
After further investigation, it seems it was an issue on the user's side so this can be closed.

Sorry for the unnecessary issue. I'll investigate more thoroughly before I post here next time.

[2021-01-17 21:58] #156 closed

[2021-01-20 21:19] smithki commented on #155
@ValentaTomas - Can the built Electron app serve from a custom protocol, for example: can the electron app call `loginWithMagicLink` from a context where the referrer is `my-app://some-path`? If this is the case, we could support deep-linking quite easily.

[2021-01-20 21:32] ValentaTomas commented on #155
I haven't tried it yet, but from the docs, it looks pretty straightforward. Here is a link if you want to take a look - https://www.electronjs.org/docs/api/protocol and https://www.electronjs.org/docs/api/app#appsetasdefaultprotocolclientprotocol-path-args should do the job.

[2021-01-23 02:04] smithki commented on #155
@ValentaTomas Any updates on your side? I'm eager to know if the app-scheme solution will work or if we need to keep tinkering...

[2021-01-23 02:05] smithki commented on #129
Closing this for now as part of repository cleanup. We can re-open if the issue rises in priority.

[2021-01-23 02:05] #129 closed

[2021-01-23 02:06] smithki commented on #39
This is irrelevant now that the RN entry point is published as a separate package.

[2021-01-23 02:06] #39 closed

[2021-01-23 02:07] smithki commented on #103
This request has not gained traction since it was originally opened. Will be closing this for now.

[2021-01-23 02:07] #103 closed

[2021-01-23 02:38] smithki opened #159 "Consider removing internal `peerDependencies` from `@magic-sdk/commons`"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Lerna [apparently doesn't automatically update internal `peerDependencies` versions](https://github.com/lerna/lerna/issues/1575) when running `lerna vers

[2021-01-23 09:22] mlejva commented on #155
Hey @smithki, sorry for not responding earlier. We will take a look into it this weekend and let you know!

[2021-01-25 04:17] ValentaTomas commented on #155
I have updates @smithki!
The custom protocols for electron are working - we can serve the packaged app from the `devbook://`, and `magic-sdk` recognizes the domain. I tested it on both mac and windows because there were supposed to be some platform-specific settings and everything looks well.

The bad news is that `magic-sdk` seems to require HTTP/HTTPS in the `redirectURI`:
![Screen Shot 2021-01-

[2021-01-25 18:42] smithki commented on #155
Perfect, this should make supporting deep linking much simpler from our side.

Sorry if I didn't make this clear in my previous message, it's not something we support _right now_, but we can easily support it in the future. I want to set a realistic expectation about where this falls on our schedule in terms of priority: it's probably ~4 weeks out. I appreciate your patience on this; it's 100% som

[2021-01-25 19:58] ValentaTomas commented on #155
No worries, for now, we can make do with the browser tab approach. Just ping this thread when you have it ready.

[2021-02-03 00:51] immortalObject opened #161 "user.isLoggedIn returns true even if the user is not logged in"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When we're checking if a user is logged in on a brand new session (with cleared cookies or in incognito mode) using `isLoggedIn` function, magic for some

[2021-02-03 01:02] smithki commented on #161
Are you able to sign a new DID token in the scenario you describe? If `isLoggedIn` returns true, it indicates that the KMS session is active and the user should be able to sign a token. The `400` from `https://auth.magic.link/v1/session/refresh` is a red herring because we try to hydrate the session in a number of ways.

If you could provide a more detailed, reproducing example that would help us

[2021-02-03 02:14] immortalObject commented on #161
@smithki thank you for your response. There really isn't any additional info. It worked fine until today, but now, even in a completely blank session in incognito mode, it thinks I'm logged in.

We call `isLoggedIn()` in the router to determine whether to redirect the user to the authentication page. The full code looks like this:

[code]

I can't generate a new DID token since I'm not logged in.

[2021-02-10 09:25] PaulPCIO opened #162 "[@magic-ext/oauth] Doing oauth.getRedirectResult() server side"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [ ] Are you reporting to the correct repository (`magic-sdk`)?

To start i'm not sure if this is the right repository but i notice a lot of the repos are directing to dead links on npm so it's hard finding the right place to report, eg;
- [@magiclabs/ui](https://www.npmjs.com/pac

[2021-02-10 18:48] smithki commented on #162
Sorry for the dead links, those repos are still private (not quite open-source ready yet... but someday).

Our key management design is self-sovereign. The user owns their identity. This necessitates that the `getRedirectResult` call happens client-side (via Magic's `<iframe>`). [You can read more about our approach to security here](https://docs.magic.link/security). While I won't say that a serv

[2021-02-10 18:48] #162 closed

[2021-02-13 11:18] ValentaTomas opened #163 "How to handle or hide `POST https://api.magic.link/v2/auth/user/login/status 401` errors?"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

When we initialize the login flow with `loginWithMagicLink`, the browser dev tools console keeps printing `POST https://api.magic.link/v2/auth/user/login/status 401` errors:
![Screen Shot 2021-02-13 a

[2021-02-13 19:19] smithki commented on #163
It's understandable that these errors are a nuisance. Unfortunately, the browser decides to log these errors whether or not they are relevant (or properly caught). You can safely ignore these as they are related to the poller we use to check if the magic link has been clicked. We are planning to migrate to WebSockets or GraphQL subscriptions later this year.

[2021-02-13 19:19] #163 closed

[2021-02-16 19:40] smithki commented on #161
I've tried to reproduce this behavior with your code snippet (I'm assuming this is Vue router?), but was unable to. I'm wondering if there's a reproducing example available in a public repository I can try?

[2021-02-16 20:56] immortalObject commented on #161
@smithki Everything started working a few days later, even though we hadn't changed anything on that branch. I talked to the team, and it turns out we've had the same problem a few times before. We tried clearing cookies/cache/browser data, use incognito mode, and even tested on other devices. In all cases we got the same thing: `isLoggedIn()` returns true even if the user is not logged in. The is

[2021-02-16 20:56] #161 closed

[2021-02-16 23:30] jtoar opened #164 "How to do e2e tests using Cypress with Magic links?"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I got started adding e2e tests for my application using Cypress. Cypress is [very opinionated](https://docs.cypress.io/guides/getting-started/testing-your-app.html#Logging-in) about how you test loggi

[2021-02-17 17:49] smithki commented on #164
For the near-term, I would recommend stubbing Magic methods with something like [`sinon`](https://sinonjs.org). The following snippet would work for a simple use-case:

[code]

We are also actively working on built-in testing features to bypass the magic link flow or assert particular behaviors. I'll update this thread when those features are available!

[2021-02-17 17:49] #164 closed

[2021-02-18 11:25] ValentaTomas opened #165 "Random user logout"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

We are using magic in an Electron app and the user is sometimes randomly logged out. We are unable to replicate the error, but it keeps happening. We already checked our code, but it is possible that

[2021-02-18 16:44] smithki commented on #165
The DID token is not an access token; think of it as more of a self-sovereign identity token or "authentication token" to your service. DID tokens are ultimately just proof to you that the user knows their private key. Accordingly, a user's DID token does not grant further access to Magic's DKM (**delegated key management**) for other signing actions.

`magic.user.isLoggedIn` will return `true` if

[2021-02-18 16:55] ValentaTomas commented on #165
Thanks for an exhaustive answer! :D

I will take the time to go over everything.

The session management does sound like something that is used pretty much every time you will be using magic. We are not sending the `didToken` with each request - we plan to use JWT exchanged for the `didToken`.

[2021-02-18 17:00] smithki commented on #165
This is the way 😉

[2021-02-22 16:20] ValentaTomas commented on #165
We did solve it by doing something similar to what you are demonstrating in the [Express / React examples](https://github.com/magiclabs/example-react-express) - by adding a refresh/access token which the client gets in exchange for the `didToken`.

The misconception was that we thought the `didToken` is used as an access token for authorized access to resources. It also looked like you "refresh" t

[2021-02-22 16:40] smithki commented on #165
This is good feedback for us. We are always working to improve our documentation and dev experience. Thanks for sharing.

[2021-02-22 18:42] #165 closed

[2021-03-03 18:10] ValentaTomas opened #166 "Error from `loginWithMagicLink` caused by disabled cookies cannot be caught"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Magic SDK `loginWithMagicLink` does not throw a catchable error when the browser has disabled cookies.

### 🧩 Steps to Reproduce

1. Disable all cookies

[2021-03-03 18:51] smithki commented on #166
This error appears to be raised in our iframe, but should not actually affect the flow other than to cause our storage service to use a memory-based fallback.

I gave this a try in our [hello world demo](https://go.magic.link/hello-world), but was not able to reproduce the behavior described here. These are the Firefox ETP settings I used:

<img width="777" alt="Screen Shot 2021-03-03 at 1 49 03 P

[2021-03-03 19:16] 3scava1i3r opened #167 "Can we get private key using magic js sdk"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

Actually I had to work on a dapp where a person would like to export their ethereum wallet how can i do that with Magic js sdk, can i at least get the private key?or mnemonic or even keystore?

### 🌎

[2021-03-03 19:29] ValentaTomas commented on #166
Try it with "All cookies" option:
![Screen Shot 2021-03-03 at 20 28 52](https://user-images.githubusercontent.com/49156497/109861032-276b1a80-7c5f-11eb-8e7a-2f84bec9b8f6.png)

[2021-03-03 19:38] smithki commented on #166
I was able to reproduce with this setting. Will update this thread once the issue is resolved!

[2021-03-03 19:52] smithki commented on #167
Revealing the private key is a highly-sensitive user action and thus we do not allow integrating developers to access the private key. We have an ad-hoc system that we can deploy to allow users on a per-app basis get access to their key. Please get in touch with our support on the [Magic homepage](https://magic.link) (click the chat bubble at the bottom right) to see if this is a good option for y

[2021-03-03 19:52] #167 closed

[2021-03-11 14:24] terrierscript commented on #165
I got same question and find this issue.
But currently [Express / React example](https://github.com/magiclabs/example-react-express)  not implemented exchange JWT.

JWT exchange implementation removed this commit.
https://github.com/magiclabs/example-react-express/commit/0abb4e8b889f38bcd53e6b9ded1142fc28a6229e

Do you know why this is removed?

[2021-03-11 17:46] hcote commented on #165
Hey @terrierscript, I had removed the JWT from the guide to rely on Magic for sessions and tracking if the user is logged in primarily to simplify the example. I'll add a new guide to site ASAP specifically on Magic + JWT for session management.

[2021-03-17 21:32] smithki commented on #166
This issue has been resolved in our iframe app, which means it can be caught now! We'll also consider updating `magic-sdk` soon to silently fail in this case.

[2021-03-17 21:32] #166 closed

[2021-03-22 11:22] ValentaTomas commented on #166
I checked it out and it is working, thanks!

[2021-03-24 16:18] amds9 opened #173 "[DESCRIPTIVE BUG NAME]"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

[Description of the bug.]

### 🧩 Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### 🤔 Expected behavior

[What you expected to h

[2021-03-24 16:32] #173 closed

[2021-03-27 17:13] hcote commented on #165
@terrierscript here's the new guide for custom sessions w JWT https://magic.link/posts/magic-jwt

[2021-03-31 08:20] amds9 opened #175 "[DESCRIPTIVE BUG NAME]"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

[Description of the bug.]

### 🧩 Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### 🤔 Expected behavior

[What you expected to h

[2021-03-31 08:21] amds9 commented on #175
Going

[2021-03-31 12:12] amds9 opened #176 "### ✅ Prerequisites"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

[Description of the bug.]

### 🧩 Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### 🤔 Expected behavior

[What you expected to h

[2021-03-31 12:12] amds9 commented on #176
Good

[2021-03-31 17:03] smithki commented on #176
@amds9 I encourage you to contribute in whatever way you can to open-source software and I can even point you to some low-hanging fruit that would go a long way to helping us and our open-source initiatives. However, this is another example of a spam issue/PR opened by you in the last week alone. Please use common courtesy when interacting with this and other open-source projects; this includes re

[2021-03-31 17:06] smithki commented on #175
@amds9 I'll echo the same message I left in #176 for you: don't spam open-source repos. It's disrespectful and may inspire concern or mistrust amongst those who depend on our software in their projects. I'm hopeful that this is not your intention, but if you continue this inappropriate use of our GitHub space, I'll have to take corrective action which may include removal of issue opening / PR priv

[2021-03-31 17:06] #175 closed

[2021-04-14 13:42] vincentlg opened #178 "violates the following Content Security Policy directive when i use a Web Socket "Custom Nodes" option"
### ✅ Prerequisites

const customNodeOptions = {
  rpcUrl: 'wss://rpc-mainnet.maticvigil.com/ws',
  chainId: 137
}

### 🐛 Description

Refused to connect to 'wss://rpc-mainnet.maticvigil.com/ws' because it violates the following Content Security Policy directive: "connect-src 'self' https://*.magic.link/ https://*.fortmatic.com/ https://*.alchemyapi.io/ wss://*.ws.alchemyapi.io/ https://*.infura.i

[2021-04-14 17:31] smithki commented on #178
Our team will need to add this node to our CSP. Someone will ping this thread when it's complete.

[2021-04-14 18:50] hcote commented on #178
@vincentlg Those URLs listed have been added

[2021-04-14 18:51] smithki commented on #178
The CSP has been updated on our side. Please let us know if this is resolved by closing this issue 🙂

[2021-04-14 19:04] vincentlg commented on #178
Thank you for your intervention, unfortunately I guess a problem persists on your side

`Access to XMLHttpRequest at 'wss://rpc-mainnet.maticvigil.com/ws' from origin 'https://auth.magic.link' has been blocked by CORS policy: Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, chrome-untrusted, https.`

<img width="996" alt="Capture d’écran 2021-04

[2021-04-14 19:56] smithki commented on #178
Looks like this new error is related to our CORS setup, will forward this to our infrastructure team and have them take a look.

[2021-04-14 23:23] Genzan commented on #178
Good evening

I'm having the same problem when connecting to my custom node

const customNodeOptions = {
  rpcUrl: 'http://189.197.77.190:8545',
  chainId: 10
}

But having this error on console.

Content Security Policy: The page’s settings blocked the loading of a resource at http://189.197.77.190:8545/ (“connect-src”).

![imagen](https://user-images.githubusercontent.com/58860247/114792690-6e64

[2021-04-15 14:19] vincentlg commented on #178
👀 Any news from the infrastructure team ? :)

[2021-04-15 21:00] smithki commented on #178
Here's the current status: we don't have support for Web3 WebSocket subscriptions at this time. It's on our roadmap but I don't have an estimated release date for you.

[2021-04-15 21:01] smithki commented on #178
@Genzan We allow `localhost` origins for testing custom node configurations. You can work around this by mapping that IP address to `localhost` in your `etc/hosts` file.

[2021-04-16 15:29] Genzan commented on #178
Im using the react example of yours as base to do these test (https://magic.link/posts/magic-react-express), also the ip 189.197.77.190 is a server diferent of my local computer. Will read about these host file as I have never work with one before, and tell you the results

[2021-04-16 16:56] Genzan commented on #178
Already changed my Host file, but same problem persist

[2021-04-16 18:30] smithki commented on #178
You must also configure your Magic instance with a `localhost` origin given to the `network.rpcUrl` field. Unfortunately, that parameter cannot be an IP address as a matter of security.

[2021-04-18 18:27] vincentlg opened #179 "How are the gas price and gas limit determined by magic.link?"
### ❓ Question

I am trying to use magic link on the polygon / matic network.

1. How are the gas price and gas limit determined?
2. Can we override the values defined by magic?

### 🌎 Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| `magic-sdk`      | 4.2.1

[2021-04-18 19:09] vincentlg commented on #179
Ok, my bad, the gasLimit is well managed by the sdk. I close this issue

[2021-04-18 19:09] #179 closed

[2021-04-22 16:09] smithki commented on #178
@Genzan Please let me know if your concern has been resolved. If so, feel free to close the issue.

[2021-04-22 21:16] ajsmth opened #180 "[react-native] Expo SDK 41 Support"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

[Description of the bug.]

Looks like one of your dependencies (`localforage-asyncstorage-driver`) is using an old version of RNAsyncStorage.
This module

[2021-04-28 15:47] Genzan commented on #178
We are currently working on getting a domain so I can pass to you, if you could give me a mail where I can summit it once it has been compleated I would be Happy to do so

[2021-04-28 16:01] smithki commented on #178
@Genzan When your team is ready with a domain, go to https://magic.link and click the chat bubble at the bottom-right corner. You can communicate with our support team there!

<img width="1506" alt="Screen Shot 2021-04-28 at 9 59 45 AM" src="https://user-images.githubusercontent.com/22753882/116435498-a799a080-a808-11eb-9c53-149c5b0b9420.png">

[2021-04-28 16:01] smithki commented on #178
Closing this for now! We're interested in exploring official WebSockets support in the future, but for now it's not an immediate priority.

[2021-04-28 16:01] #178 closed

[2021-05-03 21:59] Genzan commented on #178
Hi already tried to talk via chat and email but they told me they were unable because of guidance of your security team

Any suggestions so we can advance in testing a Private Network Blockchain using MagicLink?

[2021-05-03 22:20] smithki commented on #178
At the time being, testing with a private chain infrastructure is not possible. However, we are looking at options internally that would remove this security requirement by emitting request to the node from our backend instead of client-side. Will keep you posted on the progress.

[2021-05-28 19:54] atbe opened #182 "Calls to magic.user.logout() never resolve"
### ✅ Prerequisites

- [X] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [X] Are you running the latest SDK version?
- [X] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When trying to log our users out, we're calling the `magic.user.logout()` method but it never returns.

We've tried two methods:

First method: `on` call

[2021-05-28 20:04] atbe commented on #182
Fixed.

Looks like if you don't include the `    <magic.Relayer />` component in your app, all requests will hang.

[2021-05-28 20:04] #182 closed

[2021-05-29 08:02] mirkokiefer commented on #180
Considered using React Native just to be able to use Magic after encountering this blocker for native iOS https://github.com/magiclabs/magic-ios-pod/issues/13 - any chance at least the React Native package can get updated soon to be usable?

[2021-05-29 17:06] ajsmth commented on #180
just a note that RN should work fine, it's Expo that requires a fix. In either case, you can leverage `patch-package` and remove all `.expo` files in the module as a temporary workaround!

[2021-05-29 22:51] smithki commented on #180
cc @Ethella

[2021-06-02 11:52] mirkokiefer commented on #180
@ajsmth if updating the SDK is too complex, a branch with a temporary workaround would be great! Expo is the default starting point for RN projects, we can't justify going custom RN only for the auth lib to work. Ease of integration was our main hope for testing out Magic as an alternative to proven alternatives like Firebase or Auth0..

[2021-06-10 06:43] #139 closed

[2021-06-10 14:45] Ethella commented on #180
I tried to do a fresh RN app with expo 41 and it works just fine. I'll do an update to the package and see if that resolves the issue.

[2021-06-11 01:43] #180 closed

[2021-06-11 02:07] smithki commented on #180
:rocket: Issue was released in [`@magic-sdk/react-native@4.3.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%404.3.1) :rocket:

[2021-06-11 06:02] AsbarAli opened #184 "Web browser already open or No matching activity - React Native Android Social Authentication"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
       No open issues
- [x] Are you running the latest SDK version?
       Yes
- [x] Are you reporting to the correct repository (`magic-sdk`)?
       Yes

### 🐛 Description

My RN project is built with React Native CLI (Not expo) and I had to install unimodules to make support for t

[2021-06-11 17:11] smithki commented on #184
cc @Ethella

[2021-06-18 04:08] Ethella commented on #184
@AsbarAli Could you share your full package.json?

We currently don't have full support for RN-CLI yet. I'll try to see if I can help

[2021-06-22 07:25] solkimicreb opened #185 "Algorand group transactions"
### ✅ Prerequisites

- Use the Algorand extension.
- Try to sign a transaction which is part of a transaction group.

### 🐛 Description

The algorand extension removes the transaction [`group` field](https://developer.algorand.org/docs/features/atomic_transfers/) before signing transactions. This causes atomic group transactions to always fail.

[code]

### 🤔 Expected behavior

The group field sho

[2021-06-22 07:38] solkimicreb opened #186 "Algorand extension is missing a `signLogicSig(program)` method"
### ✨ Feature Request

Could you add the `signLogicSig(program)` method to the Algorand extension? It is a feature that can not be polyfilled with `signTransaction` and it is provided by other signing wallets.

## 🧩 Context

`singLogicSig` or `lsig.sign` is used to [delegate signature authority](https://developer.algorand.org/docs/features/asc1/stateless/sdks/#account-delegation-sdk-usage) which i

[2021-06-22 16:59] smithki commented on #186
cc @harryEth

[2021-06-25 14:49] AsbarAli commented on #184
hm but it worked in the previous app. (it is also implemented in RN CLI).  Please have a look at my package.json file and let me know if you see any solution here.

[code]

[2021-06-27 13:35] sebastiandine commented on #83
This issue still exists in the latest version. The workaround is still applicable but it would be nice to see this completely fixed in future releases.

[2021-06-28 17:07] smithki commented on #83
We are open to a community PR @sebastiandine!

[2021-06-29 20:41] captain-melanie opened #187 "Unable to get redirect result from social login"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

Hi, I'm trying to integrate social logins into our ReactJS frontend and following steps provided in your [sample code for social logins](https://codesandbox.io/s/sg212?file=/index.html) but they all f

[2021-06-30 15:08] captain-melanie commented on #187
Figured.
window.location.search has been deconstructed somewhere before it gets to `getRedirectResult()`

[code]

Closing issue as Done.

[2021-06-30 15:08] #187 closed

[2021-07-06 07:27] Faolain commented on #155
Hey @smithki did you guys ever get a chance to get around to this? Looking at a similar usecase as Valenta. If not no worries, just curious :)

[2021-07-08 12:24] vikiival opened #188 "polkadot extension is missing sign utility"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-SDK)?

### 🐛 Description

I would like to perform other transactions ([extrinsics](https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fkusama.api.onfinality.io%2Fpublic-ws#/extrinsics))

[2021-07-08 18:22] smithki commented on #188
cc @harryEth

[2021-07-16 20:45] mateus-batista opened #189 "Mumbai RPC CORS block"
### ✅ Prerequisites

- [X ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [X ] Are you running the latest SDK version?
- [X ] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

`Access to XMLHttpRequest at 'https://rpc-mumbai.matic.today/' from origin 'https://auth.magic.link' has been blocked by CORS policy: No 'Access-Contr

[2021-07-16 21:00] smithki commented on #189
cc @hcote

[2021-07-19 18:10] hcote commented on #189
@mateus-batista The node URL `https://rpc-mumbai.matic.today` is allowed by our CSP, so you shouldn't be getting that error.

See this codesandbox example where I'm able to successfully connect to that Polygon URL - https://codesandbox.io/s/fragrant-frog-t7w2r?file=/index.html

You could also attempt to connect to either of these maticvigil Polygon URLs below if the one above continues to give you

[2021-07-19 22:56] mateus-batista commented on #189
Hey @hcote I wasn't able to create an instance of a `web3.eth.Contract` in your condesandbox (for some reason it freezes the app), but using the URLs you provided solved the problem, thanks very much.

[2021-07-21 00:34] hcote commented on #189
@mateus-batista what's your contract wallet address on Polygon? See if plugging it into this codesandbox link below works (you'll also need the ABI). This is just a fork of the last codesandbox I shared with these code additions, and does allow me to grab the contract instance.

Link: https://codesandbox.io/s/interesting-lumiere-qy404?file=/index.html
Code additions below

[code]

And for context,

[2021-07-22 14:09] ariboren commented on #155
We're also hoping for a solution for this -- would love an update! Thanks.

[2021-07-23 15:54] smithki commented on #155
@Faolain @ariboren -- Sorry for the poor communication here, things have been pretty busy as I'm sure you can imagine 😅

A better integrated redirect approach using native app identifiers (`my-app://...`) is still something we're interested in doing. I'm sad to say it is lower priority than other features on our roadmap such as SMS login, multi-factor auth, and email allowlists/blocklists.

I will

[2021-07-31 08:59] solkimicreb commented on #186
Hi! Any update on this? I would be happy to help if you can point me in the right direction.

[2021-07-31 08:59] solkimicreb commented on #185
Hi! Any update on this? I would be happy to help if you can point me in the right direction.

[2021-08-02 01:07] harryEth commented on #185
@solkimicreb we support the group transaction now. Please check our doc here: https://magic.link/docs/blockchains/algorand

and demo https://github.com/magiclabs/example-algorand/blob/e6a4a426ddaebaa39f524f64dc6517cb3818bd90/src/App.js#L85

[2021-08-03 07:02] solkimicreb commented on #185
Thanks! I will try it in the afternoon.

[2021-08-05 01:38] newbyca opened #192 "Rollbar integration triggers Brave browser's Trackers and Ads shield"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

A simple react app with magic integration works as expected in Chrome, but not in Brave. Brave blocks a call to api.rollbar.com which seems to interrupt

[2021-08-05 02:31] smithki commented on #192
Rollbar is a logging service we use to track errors in the Magic iframe app which supports this SDK. This will trigger a warning from Brave shields, but is not responsible for issues related to session persistence. Unfortunately, session persistence in Brave, with shields up, is problematic for local development environments because `localhost:xxxx` and `auth.magic.link` (the iframe) are cross-ori

[2021-08-05 02:31] #192 closed

[2021-08-05 02:39] newbyca commented on #192
Thanks for the explanation @smithki

[2021-08-15 00:29] gigamesh commented on #126
I'm on the latest version, but I'm also getting this error. I'm a bit worried using `any` will result in a mysterious bug later. Is there a fix?

[2021-08-15 01:28] smithki commented on #126
This one fell off the map for us a bit as it's strictly related to typings and has a known workaround (casting to `any`). I know it's not the prettiest solution, but considering that the Web3 provider interface is stabilized and standardized by the Ethereum foundation, I'm comfortable saying that the `any` typing shouldn't cause you backwards compatibility issues in the future.
We are open to a PR

[2021-08-15 06:09] gigamesh commented on #126
All good. thanks for the crazy fast response!

[2021-08-30 10:22] SweetmanTech opened #197 "Alchemy Polygon RPC `connect-src` Block"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Using the Polygon RPCs proviced by Alchemy are blocked with a `violatedDirective: "connect-src"` when attempting to initialize Magic.

### 🧩 Steps to Rep

[2021-08-30 13:32] mac3851 opened #198 "How to resolve INCOMPATIBLE_EXTENSIONS error"
### ✅ Prerequisites

- [ * ] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [ * ] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I'm using `magic-sdk 4.4.2` and `@magic-ext/oauth 0.9.0`. When trying `loginWithRedirect` as described [here](https://magic.link/docs/client-sdk/web/social-login), I',m receiving this error:
[code

[2021-08-30 19:21] smithki commented on #198
Can you provide a reproduction of the issue in CodeSandbox? I'm using this to quickly test the problem but cannot reproduce: https://codesandbox.io/s/condescending-star-nvnlm?file=/index.html

[2021-08-30 19:23] smithki commented on #197
Please contact our support team [here](https://magic.link) so we can discuss adding your custom node provider to our CSP.

![Uploading Screen Shot 2021-08-30 at 1.22.33 PM.png…]()

[2021-08-30 19:23] #197 closed

[2021-08-30 20:26] mac3851 commented on #198
I see you're using `extensions: [new MagicOAuthExtension()]` and the [docs](https://magic.link/docs/client-sdk/web/social-login) say: `extensions: [new OAuthExtension()]`. I'm using ClojureScript, I'll try to put it in sandbox.

[2021-08-30 20:35] smithki commented on #198
Syntax differs slightly depending on whether you're consuming the SDK via CDN or NPM. When using our CDN, the extension class is prefixed with `Magic*` because it exists in the global namespace and we are aiming to prevent conflicts.

[2021-09-02 20:53] #83 closed

[2021-09-02 20:57] smithki commented on #83
:rocket: Issue was released in [`@magic-sdk/provider@5.1.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%405.1.0), [`@magic-sdk/react-native@5.1.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%405.1.0), [`magic-sdk@5.1.0`](https://github.com/magiclabs/magic-js/releases/tag/magic-sdk%405.1.0) :rocket:

[2021-09-02 20:57] smithki commented on #83
:rocket: Issue was released in [`@magic-sdk/provider@5.1.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%405.1.0), [`@magic-sdk/react-native@5.1.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%405.1.0), [`magic-sdk@5.1.0`](https://github.com/magiclabs/magic-js/releases/tag/magic-sdk%405.1.0) :rocket:

[2021-09-06 06:22] holmanlam opened #204 "No available storage method found in React Native"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

Hello, I want to implement magic link in React Native App, but two error codes appeared when I called "magic.auth.loginWithMagicLink". Do you know how to solve it. Many Thanks

Here is my sample code:

[2021-09-07 03:51] Ethella commented on #204
@holmanlam Hi. Could you move 'magic.Relayer' to a parent component like 'app.js' as it's relayer that doesn't need to be re-rendered?

[2021-09-10 18:33] smithki commented on #83
:rocket: Issue was released in [`@magic-sdk/commons@2.0.0-next.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/commons%402.0.0-next.0), [`@magic-sdk/provider@6.0.0-next.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%406.0.0-next.0), [`@magic-sdk/react-native@6.0.0-next.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native

[2021-09-14 10:26] #204 closed

[2021-09-14 15:52] smithki commented on #198
Took a deep dive into this issue and I believe it's related to an old cyclic dependency within the `semver` package. Apparently there's a known issue with bundling `semver` using Rollup that creates an unexpected behavior where `semver.satisfies` returns `false` always.

Related issues:

- https://github.com/rollup/plugins/issues/879
- https://github.com/npm/node-semver/issues/318

We are in the m

[2021-09-14 19:30] smithki commented on #198
Please give this a try with `magic-sdk@6.0.1` and let me know how it works for you. If the issue remains unresolved please feel free to ping this thread and I'll re-open the issue.

[2021-09-14 19:30] #198 closed

[2021-09-15 09:13] VladimirMikulic opened #211 "Project won't compile due to syntax error in Magic"
### ✅ Prerequisites

- [x ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🧩 Steps to Reproduce

Any basic Magic sample with latest version.

### 🤔 Expected behavior

I would expect the project to compile.

### 😮 Actual behavior

The project

[2021-09-15 09:19] #211 closed

[2021-09-15 09:19] VladimirMikulic commented on #211
Never mind, I think it has something to do with Next.js 11.
I guess we'll have to wait for v12 to land first: https://nextjs.org/blog/next-11-1#es-modules-support

[2021-09-16 16:20] #159 closed

[2021-09-17 12:59] vikiival commented on #188
@harryEth @smithki any progress?

[2021-09-17 16:00] harryEth commented on #188
@vikiival this is on our team's road map, but don't have a delivery day yet.

[2021-09-17 16:02] vasco3 opened #213 "upgrade to v6.0.3 throws Cannot use import statement outside a module"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

[Description of the bug.]

### 🧩 Steps to Reproduce

1. Using next.js import the module magic-sdk into a file.
2. run `npm run build`

### 🤔 Expected beh

[2021-09-17 18:10] #213 closed

[2021-09-17 18:19] smithki commented on #213
:rocket: Issue was released in [`@magic-sdk/commons@2.0.4`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/commons%402.0.4), [`@magic-sdk/provider@6.0.4`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%406.0.4), [`@magic-sdk/react-native@6.0.4`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%406.0.4), [`@magic-sdk/types@5.0.2

[2021-09-17 23:21] smithki commented on #83
:rocket: Issue was released in [`@magic-sdk/commons@3.0.0-dgerrells-ch42053-sms-feature.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/commons%403.0.0-dgerrells-ch42053-sms-feature.0), [`@magic-sdk/provider@7.0.0-dgerrells-ch42053-sms-feature.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%407.0.0-dgerrells-ch42053-sms-feature.0), [`@magic-sdk/reac

[2021-09-17 23:21] smithki commented on #83
:rocket: Issue was released in [`@magic-sdk/commons@3.0.0-dgerrells-ch42053-sms-feature.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/commons%403.0.0-dgerrells-ch42053-sms-feature.0), [`@magic-sdk/provider@7.0.0-dgerrells-ch42053-sms-feature.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%407.0.0-dgerrells-ch42053-sms-feature.0), [`@magic-sdk/reac

[2021-09-17 23:21] smithki commented on #213
:rocket: Issue was released in [`@magic-sdk/commons@3.0.0-dgerrells-ch42053-sms-feature.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/commons%403.0.0-dgerrells-ch42053-sms-feature.0), [`@magic-sdk/provider@7.0.0-dgerrells-ch42053-sms-feature.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%407.0.0-dgerrells-ch42053-sms-feature.0), [`@magic-sdk/reac

[2021-09-17 23:21] smithki commented on #83
:rocket: Issue was released in [`@magic-sdk/commons@3.0.0-dgerrells-ch42053-sms-feature.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/commons%403.0.0-dgerrells-ch42053-sms-feature.0), [`@magic-sdk/provider@7.0.0-dgerrells-ch42053-sms-feature.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/provider%407.0.0-dgerrells-ch42053-sms-feature.0), [`@magic-sdk/reac

[2021-09-21 18:26] frankfka opened #216 "Next.js + Magic SDK V6 + OAuth Extension Fails with `TypeError: class constructors must be invoked with 'new'`"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When initializing the client with:

[code]

within Next.js, the following error is thrown `class constructors must be invoked with 'new'`.

This only hap

[2021-09-22 03:46] smithki commented on #216
Thanks for the report. This appears to be related to the `v6.x` change to the Magic JS build system. We introduced this change to support `<script type="module" />` targets. The unintended side-effect is that our `OAuthExtension` is still compiled to ES5 by default. So, this creates a problem where the ES5-formatted `OAuthExtension` class extends from the ES6-formatted `Extension` class inside of

[2021-09-23 01:42] smithki commented on #216
This issue has been resolved in `magic-sdk@6.0.7` and `@magic-sdk/oauth@0.9.2`, as well as for these other extensions:

- `@magic-ext/react-native-oauth`
- `@magic-ext/webauthn`

Our Web3-related extensions will follow suit.

[2021-09-28 20:53] david03g opened #222 "Magic-js prevents the use of Polygon nodes provided by Alchemy.com for security reasons"

[2021-09-29 04:26] smithki commented on #222
Our support team can most likely get this sorted for you. Please follow the steps provided in our [documentation](https://magic.link/docs/introduction/faq#why-is-my-custom-node-configuration-not-working-due-to-csp-errors).

Also, as a general open-source tip, it helps to add as much context to your GitHub issue as possible. Thankfully, I have a good feeling that I know what you are asking for here

[2021-09-29 04:26] #222 closed

[2021-10-01 11:12] ideopunk commented on #216
Looking forward to the web3 fixes, it's an issue with `@magic-ext/solana@1.0.0`.

[2021-10-01 16:50] smithki commented on #216
@ideopunk `6.x` was all about better ES module compatibility, no API changes. You can use `5.x` in the meanwhile!

[2021-10-04 19:18] david03g opened #224 "Support wss:// in blockchain provider config"
Web socket providers minimize transaction requests to hosted node services such as Infura or Alchemy. This would create a more efficient and cost effective dapp stack.

[2021-10-05 16:50] aglasserpfl commented on #164
@smithki

Are any of those built-in testing features you mention above now available?

[2021-10-05 16:53] smithki commented on #164
Yup! You can read about it [here](https://magic.link/docs/introduction/test-mode).

Bear in mind it does not support our server-side SDKs at this time; those will still need to be mocked to your specific case.

[2021-10-15 08:01] hozjanmarko opened #226 "Using the magic-ext/bitcoin extension in a react-native app"
### ✅ Prerequisites

- [x] you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

I'm trying to add support for bitcoin to a new react-native project via the Magic SDK and the bitcoin extension. When following the guide to [integrate the m

[2021-10-19 16:08] dmidnight opened #227 "What is the recommended way to handle sessions for web3 apps in the browser?"
### ✅ Prerequisites

- [✅ ] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [ ✅] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

What is the recommended way to handle sessions for web3 apps in the browser?

Most of the recommendations and example apps I have seen pass the DID token to the backend API and create sessions with

[2021-10-19 16:29] #227 closed, assigned to nobody

[2021-10-20 02:38] netaisllc opened #229 "v6.1.1 Throws during build or preview tasks when used with Svelte-Kit"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
Seems pretty similar to this issue: https://github.com/magiclabs/magic-js/issues/213

- [x] Are you running the latest SDK version?
Yes. v6.1.1

- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

The project will not build; the build step fails with

[2021-10-20 18:59] smithki commented on #229
:rocket: Issue was released in [`@magic-ext/oauth@0.10.2`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-ext/oauth%400.10.2), [`@magic-ext/react-native-oauth@0.5.2`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-ext/react-native-oauth%400.5.2), [`@magic-ext/webauthn@0.2.2`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-ext/webauthn%400.2.2), [`@magic-sdk/c

[2021-10-31 16:45] mwawrusch opened #235 "6.2 versions fail on build with typescript / missing semver in type declarations."
### 🐛 Description

I have a problem when trying to use the latest (and maybe earlier) version of the magic sdk for the browser. I get the following errors after running with 6.2 during compilation (typescript, angular). Previous version that I know it worked was 5.x:

[code]

### 🧩 Steps to Reproduce

1. Create a project that uses typescript (and maybe angular).
2. add magic 6.2.

### 🤔 Expected b

[2021-10-31 16:47] mwawrusch opened #236 "version 6.x incompatible with more modern typescript versions"
### 🐛 Description
Compilation with a typescript version like 4.3.5 fails:

[code]

### 🧩 Steps to Reproduce

create a typescript project (for example angular 12) with "typescript": "4.3.5"

### 🌎 Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| `magic-sdk`      | 6.x
| Browser          | n/a
| `yarn`           | npm v6.14.11
| Operating System | Mac

[2021-11-02 16:16] smithki commented on #235
Please help us isolate the issue with the following:

1. Your version of TypeScript
2. The content of your `tsconfig.json` file
3. A reproducible example

[2021-11-02 16:16] smithki commented on #236
Please help us isolate the issue with the following:

1. Your version of TypeScript
2. The content of your `tsconfig.json` file
3. A reproducible example

[2021-11-02 17:08] smithki commented on #236
Apparently you can work around this in the meanwhile with `"skipLibCheck": true` in your `tsconfig.json`. We'll investigate the type errors once our engineers have cycles to do so.

[2021-11-02 17:08] smithki commented on #235
Apparently you can work around this in the meanwhile with `"skipLibCheck": true` in your `tsconfig.json`. We'll investigate the type errors once our engineers have cycles to do so.

[2021-11-02 17:36] smithki commented on #236
I haven't been able to reproduce this, so will need a bit more help from you to isolate the issue. Let me know if you can put together a reproduction.

[2021-11-03 02:30] mwawrusch commented on #236
Repro is easy. Create angular app , upgrade to v12, then include magic somewhere.

I created a sample for you - https://www.dropbox.com/s/nxlx4k27x5aihp6/magic.zip?dl=0

[2021-11-03 02:36] mwawrusch commented on #236
THere are a few more errors, those go away if you set
   "allowSyntheticDefaultImports": true,
   in the tsconfig.json, which still leaves the .semver bug, and probably the typings bug.

[2021-11-08 13:16] mightymatth opened #238 "Add Aurora RPC endpoints"
### ✨ Feature Request

Add RPC endpoints for Aurora from [the official documentation](https://doc.aurora.dev/develop/networks).

Additionally, Aurora will support RPCs with API keys in the following format:
[code]
...so it will be nice to handle this case in your whitelist regex expressions.

## 🧩 Context

Related to #178

[2021-11-08 17:19] smithki commented on #238
You can follow [steps in our docs](https://magic.link/docs/introduction/faq#why-is-my-custom-node-configuration-not-working-due-to-csp-errors) to request your custom Node provider is added to our CSP whitelist.

[2021-11-08 17:19] #238 closed

[2021-11-08 20:33] smithki commented on #235
:rocket: Issue was released in [`@magic-ext/bitcoin@1.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-ext/bitcoin%401.0.1), [`@magic-ext/oauth@0.11.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-ext/oauth%400.11.1), [`@magic-ext/react-native-oauth@0.6.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-ext/react-native-oauth%400.6.1), [`@magic-ext/web

[2021-11-08 20:36] #235 closed

[2021-11-10 11:46] Standaa opened #241 "Algorand Extension is missing signMultisigTransaction"
### ✅ Prerequisites

• ✅ Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
• [ ] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request
The current Algorand extension is missing Algorand's sdk `signMultisigTransaction` method.
Makes it impossible to use Magic for  multisig transaction signing (this is not the only method requir

[2021-11-10 11:55] Standaa commented on #241
#https://github.com/magiclabs/magic-js/issues/186

[2021-11-10 11:58] Standaa commented on #241
Somewhat related to [#186](https://github.com/magiclabs/magic-js/issues/186)

[2021-11-10 16:25] smithki commented on #241
cc @harryEth

[2021-11-10 17:29] W4G1 opened #243 "Add preload option to Magic constructor to prevent preloading css when using a custom UI"
### ✅ Prerequisites

- [ x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [ x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Add a `preload` option to the Magic constructor to optionally preload UI assets. Currently when you don't want to use the default UI, you can use `showUI: false` on `loginWithMagicLink()`,

[2021-11-25 16:49] Standaa opened #244 "Algorand Extension Cannot Sign an ASA Opt-in Transaction"
### ✅ Prerequisites

- ✅ Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- ✅  Are you running the latest SDK version?
- [] Are you reporting to the correct repository (`magic-sdk`)? No, the algorand extension code is closed source.

### 🐛 Description
If I am not mistaken the Magic Extension cannot sign an Algorand ASA opt-in transaction.
This would be a **m

[2021-12-03 14:13] disbelief opened #245 "showUI option for loginWithSMS for custom PIN form UI"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Allow sites to display their own UI for the SMS verification form instead of using the branded Magic form. This would be similar to the `showUI: false` option of `loginWithMagicLink`, but wo

[2021-12-03 19:35] smithki commented on #245
We are aware of this feature request and it's in our backlog, but we're waiting for more concrete validation before we start scoping anything out. There are a few caveats that make executing on this request non-trivial, such as:

1. Finding an API that works generically for most use-cases while retaining Magic's distinctive simplicity.
2. Identifying the interplay between a custom pin-code form an

[2021-12-04 10:20] disbelief commented on #245
Thank you for the response, I appreciate the transparency.

I see you've tagged this as "needs more info" so I wanted to offer to answer any questions you may have as your team validates this feature request.

With respect to the points you've raised:

Your current API seems like a "good for most" solution already, so I'd recommend creating a separate API for this rather than changing/complicating

[2021-12-05 13:15] mlnchk opened #247 "Force google account chooser"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Now, if my browser knows only one google account, Magic login flow skips Google account chooser and logs me into the only account available. But sometimes I need an opportunity to use choose

[2021-12-06 16:48] #189 closed

[2021-12-08 10:51] pekq commented on #184
@AsbarAli were you able to find a workaround or solution to this problem?

I think https://github.com/expo/expo/issues/13937 & https://github.com/expo/expo/issues/12045 are related.
For now, we've targeted Android API 29 to avoid this. But as of Nov 1st, API 30 is forced by Google Play Store. Essentially blocking us from releasing binary updates.

[2021-12-09 14:27] Standaa commented on #244
Any updates about this bug ? It is a real showstopper that you cannot receive an Algorand Token if you are using Magic.

[2021-12-10 04:51] Ethella commented on #184
@pekq Taking a look into the issue

[2021-12-10 16:54] Ethella commented on #184
It doesn't look like there's a solution right now. And other alternative packages are out-of-date. I'll chat with the team to see if it's possible to address a temporary solution to get around usage of `expo-web-browser`

[2021-12-13 17:06] vikiival commented on #188
🏓

[2021-12-16 01:32] msegun45 opened #253 "pk_live_F37816E65B9F2CE4[DESCRIPTIVE BUG NAME]"
### ✅ Prerequisites

- [ ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [ ] Are you running the latest SDK version?
- [ ] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

[Description of the bug.]

### 🧩 Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### 🤔 Expected behavior

[What you expected to h

[2021-12-16 01:33] msegun45 commented on #253
pk_live_F37816E65B9F2CE4

[2021-12-16 02:19] macouella opened #254 "Browser bundle optimisations"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I've done done _browser bundle analysis_ and have recommendations to reduce magic-sdk bundle size.

1. regenerator-runtime is packaged with cjs and esm package distributions. I have my own webpack bui

[2021-12-18 14:50] #96 closed

[2021-12-18 14:52] Ethella commented on #121
Stale ticket, closing

[2021-12-18 14:52] #121 closed

[2021-12-27 16:21] pagreczner opened #256 "Support Expo SDK versions 43+"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Support Expo SDK versions 43+.

## 🧩 Context

Expo 43+ removes support for unimodules and moves to expo modules (https://blog.expo.dev/whats-new-in-expo-modules-infrastructure-7a7cdda81ebc /

[2021-12-27 16:24] pagreczner opened #257 "React Native Oauth broken for Expo SDK 43+"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

The react native oauth extension does not support Expo SDK versions 43+. Described here in feature request as this feels part bug / part feature: https:/

[2021-12-27 21:53] melissafzhang opened #258 "Missing Authorization Header"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

I'm seeing intermittent errors when using `loginWithCredential` using magic-sdk.

### 🧩 Steps to Reproduce
Unfortunately I'm not able to reproduce since

[2021-12-28 18:15] smithki commented on #257
Duplicate of #256

[2021-12-28 18:15] #257 closed

[2021-12-28 18:21] smithki commented on #258
Please take the time to share a CodeSandbox which demonstrates the issue. The code snippet you provided is much appreciated, but it only encapsulates the "callback" side of the login flow. We'll need to see a complete implementation to understand if there's a bug.

[2021-12-28 18:23] smithki commented on #216
Closing this, as our remaining extensions have been ported to this monorepo!

[2021-12-28 18:23] #216 closed

[2021-12-28 18:55] melissafzhang commented on #258
@smithki the issue is intermittent on mobile web so I haven't been able to reproduce. We are calling the function on the callback url page if that helps.

[2021-12-28 22:02] smithki commented on #258
The issue, as described, potentially indicates the callback query parameter might be missing or malformed by the time `loginWithCredential` is called. Without a more complete implementation or reproduction, though, there's not enough information for us to deduce what's affecting your particular case.

[2021-12-29 06:43] royalvirendra opened #259 "Could not find module 'BigInt' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator"
### ✅ Prerequisites![Screenshot 2021-12-29 at 12 28 04 PM](https://user-images.githubusercontent.com/75446531/147635607-6e8cf0ce-ad67-4c6d-abad-4a5f26f15b29.png)
- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ question
Frame Work react-native
- Build fail in xcode 13 due to Coul

[2021-12-30 17:37] melissafzhang commented on #258
Oh interesting, the error seems to suggest that there's a missing http header. I'll add some more logging and see if I can get the query params that are present when the error happens.

[2022-01-03 16:03] melissafzhang commented on #258
I logged the query params, and it appears that there are no query params present when the function is called. Any idea as why that would be happening?

[2022-01-03 19:42] smithki commented on #258
Unfortunately, without a full code sample (even one that reproduces the issue only occasionally), I can't discern that for you 😞

[2022-01-05 07:07] Ethella commented on #256
Hey @pagreczner, you may manually add these two packages to resolve the error.
[code]

 Lmk if the error persists

[2022-01-05 09:32] Ethella commented on #184
@pekq Do you mind upgrading `expo@44.0.5`  and manually add
[code]
and see if the error persists?

My Android simulator works after I upgrade to the latest versions. Please lmk if you find anything new.

[2022-01-05 15:37] Yara1990 commented on #259
Thank you @Ethella for taking this up. Please let me know if you need any further details.

[2022-01-06 16:02] barakoles commented on #184
Any new on this? We are currently stuck and can't add social logins on react-native.

[2022-01-06 17:37] Ethella commented on #259
@royalvirendra @Yara1990

Just to clarify, do you use a pure CRNA framework without Expo? And do you link `MagicSDK.xcframework` for iOS after RN iOS build?

[2022-01-06 17:39] Ethella commented on #184
Could you share your package.json here? We are collecting more info related to this issue.

[2022-01-07 15:21] barakoles commented on #184
I can create another issue with more details if you want :)

[2022-01-07 22:29] Ethella commented on #184
If it's related to the `No matching activity` for RN Android social login, feel free to post it here. 😄

[2022-01-08 08:16] royalvirendra commented on #259
yes we use a pure CRNA framework without Expo And we already link MagicSDK.xcframework for iOS.

[2022-01-08 10:21] royalvirendra commented on #259
steps i have done :

step1:  installed package "@magic-sdk/react-native"

- follow steps as per given in package.
- work in android.

step2: For IOS:

1. Added  pod 'MagicSDK' in pod file.  && link MagicSDK.xcframework in link binary with libraries.
2. Getting Error:

### MagicSDK-Web3 Group
   **Swift Compiler Error Group**
               ios/Pods/MagicSDK-Web3/MagicSDK-Web3/Classes/ContractABI/A

[2022-01-08 15:13] Ethella commented on #259
@royalvirendra Just FYI, this setup is not officially supported by Magic yet. We recommend you to use Expo managed flow or Native iOS / Android. However, I'm glad to take a look and see if I can help.

[2022-01-10 06:51] royalvirendra commented on #259
**@Ethella** I have tried Magic link integration with native IOS using following link.

[Magic for iOS Apps](https://magic.link/docs/login-methods/email/integration/ios).

As per given above link we have applied following steps.

1. Add pod 'MagicSDK' IN podfile.
2. run command pod install and after that we get successfully completed Pod installation.
3. After completion of Pod installation. i hav

[2022-01-10 12:29] barakoles commented on #184
@Ethella
`package.json`:
[code]
So the steps I did were to:
1- Remove unimodules and magic
2- Add expo@44.0.4
2.1- I did some manual installation on `MainApplication.java` as automatic linking is not supported with `react-native-navigation`
3- Build successful
4- Add:
-@unimodules/core@7.1.2
 -@unimodules/react-native-adapter@6.3.9
5- Build fails asking for `unimodules-app-loader`
6- Add: @unimodu

[2022-01-10 18:01] mateus-batista opened #262 "Should Magic and Social login return different wallet addresses for the same email?"
### ✅ Prerequisites

- [✅ ] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [✅ ] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

Should Magic and Social login return different wallet addresses for the same email?

When logging in with Magic link and Social login with the same email, I get two different wallet addresses (in my

[2022-01-10 19:03] smithki commented on #262
Early on, we made a consequential design decision to map login types (i.e.: Google, Apple, Facebook, Email Link, SMS, WebAuthn, etc.) to separate accounts ("users"), such that each login type maps to a unique Ethereum key. The same is true for different blockchains/networks as well. For your purposes though, only the ETH key matters as that is what we use to sign DID tokens.

Now, why did we make

[2022-01-10 19:03] #262 closed

[2022-01-10 19:17] mateus-batista commented on #262
Hi @smithki - It makes total sense, thanks for your quick and detailed reply.

We've been using magic at the company in a bunch of different projects it just works it's awesome!

Keep the great work!

[2022-01-10 19:21] smithki commented on #262
In case it helps, our off-the-shelf login form contains some naive logic to help guide users to the previously-used login method on a page. It's not perfect, and surely comes with its own trade-offs, but it's a pretty damn login form. Check it out: https://magic.link/docs/login-form

[2022-01-10 19:28] mateus-batista commented on #262
We'll check it out, but probably implement some logic on our side to guide users toward their previously-used login method. Again, thanks for the quick and detailed reply ❤️

[2022-01-11 04:44] Ethella commented on #259
For Compiler Error, could you check if `BUILD_LIBRARY_FOR_DISTRIBUTION = YES` is properly set in the build settings

![image](https://user-images.githubusercontent.com/33166884/148881856-67a4d277-b3c4-4d08-aace-8094b2defc2c.png)

---
For the `BigInt` error, the library is imported via source code, therefore it shouldn't bring any problem when compiling for target `x86_64_simulator`. And MagicSDK.x

[2022-01-11 06:28] royalvirendra commented on #259
We changed BUILD_LIBRARY_FOR_DISTRIBUTION = YES. Also we cleaned the project and tried to build it again, but still we are facing the same problem with "BigInt".

![Screenshot 2022-01-11 at 11 44 35 AM](https://user-images.githubusercontent.com/75446531/148891760-184ab4c7-433e-424e-bdfc-07bcfac0ff76.png)

[2022-01-11 22:59] 510610349 opened #264 "[DESCRIPTIVE BUG NAME]"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

[Description of the bug.]

### 🧩 Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

### 🤔 Expected behavior

[What you expected to h

[2022-01-11 23:47] #264 closed

[2022-01-12 05:18] Ethella commented on #259
It's a bit odd since the package `BigInt` is installed in source code, not as a binary file. So there would be hardly an unsupporting simulator issue.

Do you mind inviting me to the project so I can take a closer look?

[2022-01-12 13:29] AlphatechUSA commented on #259
Hi Ethella, you should now have read access to our project.

[2022-01-14 17:26] RafSafeSocial commented on #184
The same here.

[2022-01-17 06:12] Yara1990 commented on #259
@Ethella Did you get a chance to look at the codebase? It would be great if we can have an ETA for this issue?

[2022-01-17 06:24] Ethella commented on #259
@Yara1990 I had checked the codebase and I don't think I can offer you a quick fix at the moment.

However, I would suggest you wait for a bit more till our ios package `MagicSDK` gets open-sourced this week and released on SPM. It might help you to resolve the missing module for an x86 target as the project won't be using xcframework but the source code instead.

[2022-01-18 04:59] Ethella commented on #184
Based on the thread, Installing a chrome browser to the emulator shall resolve the issue which it does on my emulator. https://github.com/expo/expo/issues/12045#issuecomment-1002067162 ​

Given that, in production, most Android users shall have a built-in chrome that is natively installed, in which case this shouldn't cause a production issue. And this is a defect in the `expo` package, therefore

[2022-01-18 04:59] #184 closed

[2022-01-18 05:02] Ethella commented on #259
Closing this for now. Feel free to reopen this issue or start a new one when you encounter any issue during the development of our new SPM / Cocoapod / open-source package.

[2022-01-18 05:02] #259 closed

[2022-01-18 23:12] bmeeder22 opened #265 "SolanaExtension is not a constructor when using @magic-ext/solana in react-native"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When attempting to use @magic-ext/solana in a build of React Native the build will error out with the following error:
[code]

### 🤔 Expected behavior

W

[2022-01-18 23:23] bmeeder22 commented on #265
Note:  Manually changing `export * from './index'` => `export { SolanaExtension } from './index.js';` fixes the issue

[2022-01-20 04:10] jedahan commented on #184
The expo issue will be closed due to inactivity. It would be nice to comment there to maybe get the devs to give the issue a second look.

[2022-01-22 01:26] ariboren commented on #155
Hi @smithki  - any update on this? Would love to be able to offer a unified redirect experience across our web, mobile and desktop (Electron) apps. Thanks.

[2022-01-24 18:50] #265 closed

[2022-01-24 18:53] smithki commented on #155
@ariboren I don't have any meaningful updates to share, but can re-confirm that this is something we are interested in building better support for.

[2022-01-24 19:43] smithki commented on #265
:rocket: Issue was released in [`@magic-ext/conflux@0.1.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-ext/conflux%400.1.1), [`@magic-ext/solana@3.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-ext/solana%403.0.1) :rocket:

[2022-01-24 21:15] bmeeder22 opened #269 "React Native Solana Magic RPC Error: [-32603] Internal error: Expected Buffer"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
https://github.com/magiclabs/magic-js/issues/87
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When Signing Solana Transactions in a React Native app the RPC request will fail with the error:
[code]

[2022-01-24 23:25] bmeeder22 commented on #269
Created a example project to demo the issue: https://github.com/bmeeder22/solana_magic_demo

[2022-01-26 01:56] bmeeder22 opened #272 "Not Exporting package.json in @magic-ext/solana"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When using `@magic-ext/solana` a warning is appearing while trying to startup the app.

[code]

### 🧩 Steps to Reproduce

1. Create a React Native
2. Run

[2022-01-26 14:56] bmeeder22 commented on #272
Some more context on how this is a best practice: https://github.com/uuidjs/uuid/issues/444#issuecomment-630424195

[2022-01-26 18:10] smithki commented on #272
I took a gander at the PR (#273) and found a few issues that would block this change in the short-term. [More context here](https://github.com/magiclabs/magic-js/pull/273#issuecomment-1022450802).

I'm going to close this as `wontfix` for now, but happy to keep the discussion rolling in this issue or in the PR.

[2022-01-26 18:10] #272 closed

[2022-01-26 19:43] bmeeder22 commented on #272
Sounds good thanks for the help!

[2022-01-27 08:11] Ethella commented on #269
Here's some conclusion for the Buffer expected issue.

The root cause for this is during the communication of RN to our relayer, the payload with buffer object is not properly serialized / de-serialized during the payload transaction. So in which case, you'll find it works in a browser but not on RN.

We'll have to spend some more time to figure out an optimal way to solve this problem once for al

[2022-01-27 12:01] bmeeder22 commented on #269
@Ethella thanks for taking an initial look! We already have magic live on our site everything working well there. Right now we are trying to launch mobile as soon as possible. Any ideas on timelines that we can expect for when you will be free to take a deeper dive on this?

Since this is super high priority for us we are happy to assist in any way. Would also be happy to setup a private channel f

[2022-01-28 01:40] Ethella commented on #269
If it's not a hard task, I think I can wrap it up this week.

[2022-01-28 17:52] intergalacticspacehighway opened #276 "[Error: Magic RPC Error: [-32603] Internal error: User denied signing.] on email sign in users"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description
I am using @magic-sdk/react-native@^8.0.0. This issue is consistently happening on iOS and android on email login while sending eth_sendTransaction. I can

[2022-01-28 19:14] intergalacticspacehighway commented on #276
closing this as I was proabably sending wrong address in send_transaction. I am new to this, so didn't know how to debug! Thanks.

[2022-01-28 19:14] #276 closed

[2022-01-28 23:15] mpetricek opened #277 "Random errors Magic RPC Error [-32603] and Failed to retrieve OAuth access token"
EDIT: After testing newest version, the first problem is still present. Happening if firstly logging in with social login and after that with email magic link (but not every time). I'll test it more to see if the second problem is present too.

### ✅ Prerequisites

- [ yes] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [yes ] Are you running the latest

[2022-01-31 19:16] #269 closed

[2022-01-31 19:52] smithki commented on #269
:rocket: Issue was released in [`@magic-ext/react-native-oauth@2.1.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-ext/react-native-oauth%402.1.0), [`@magic-sdk/react-native@8.1.0`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%408.1.0) :rocket:

[2022-01-31 21:05] bmeeder22 commented on #269
Hey @Ethella @smithki

I am testing this fix using the demo application that I created and shared in the ticket. Even after pulling in `"@magic-sdk/react-native": "8.1.0"` and `"@magic-ext/solana": "4.0.1"` is there something else that is missing here?

[2022-01-31 21:07] bmeeder22 opened #278 "Internal error: Expected Buffer still happening for Solana TX's on @magic-sdk/react-native 8.1.0"
I am testing this fix using the demo application which can be found here: https://github.com/bmeeder22/solana_magic_demo. Even after pulling in `"@magic-sdk/react-native": "8.1.0"` and `"@magic-ext/solana": "4.0.1"` I am still getting the same error message as before.

_Originally posted by @bmeeder22 in https://github.com/magiclabs/magic-js/issues/269#issuecomment-1026208496_

[2022-01-31 21:07] bmeeder22 commented on #278
@Ethella

[2022-01-31 21:16] Ethella commented on #278
There's an internal change getting deployed at the moment. Please wait for a moment.

[2022-01-31 23:36] Ethella commented on #278
@bmeeder22 It's been deployed. Changes are live!

[2022-01-31 23:36] #278 closed

[2022-02-01 14:16] mpetricek commented on #277
EDIT: Both errors still prezent in newest version. Any update on this?

[2022-02-03 08:01] jackie-nguyen commented on #277
I'm also having this issue. Sign in with Oauth (Google in this case) will only work randomly.

[code]

When it does work, I get this error
[code]

I am using this function call
[code]

[2022-02-07 17:57] Standaa commented on #244
I just tested the latest APIs:
[code]
It seems like this problem is still not fixed.
Would you have an ETA as to when this very basic flow will be possible?

[2022-02-10 09:19] SergeyYuhimovich opened #279 "OAuth is not persisted after app restart"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

`m.user.isLoggedIn()` returns `false` after successful social log in (Google in my case) and app restart.

### 🧩 Steps to Reproduce

1. Log in using `m.o

[2022-02-10 11:18] guillaumervls opened #280 "High CPU load while logging in with email"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

While I log in with the default UI with the following line:
[code]

I get a 100% CPU load while this "awaits" me clicking on my email. My whole login flow works, I have only this CPU load issue (not v

[2022-02-10 20:29] Adamj1232 opened #281 "Add the Login Form Modal/Overlay to the SDK"
### ✅ Prerequisites

- [x ] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [ x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request
It would be very helpful to have the Magic Login overlay/modal form found here https://magic.link/docs/login-form
I was told through the support chat that it is only available to add throug

[2022-02-14 07:15] jackie-nguyen opened #282 "magic.oauth.getRedirectResult() In does not return Oauth Access token or other error(s)"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description
I am receiving one of two errors when using the Google Oauth with Next JS. These are client side errors and they happen on the callback from Google auth.

[2022-02-14 08:34] jackie-nguyen commented on #282
Okay someone from the Discord gave me a bunch of example implementations (which would be nice to have in the Documentation btw)

Okay, this appears to be a mistake on how I was handling the redirect in a next page.

Apparently Magic has an example here:
https://github.com/magiclabs/example-nextjs/blob/master/pages/callback.js

Apparently wrapping the function won't work like this
[code]

This is w

[2022-02-14 08:34] #282 closed

[2022-02-14 14:23] jackie-nguyen commented on #282
If anyone else runs into this, apparently wrapping the redirect in a useCallback will break the oauth login. Adding a wrapper to the dependency array of a useEffect call (to fix lint error: _react-hooks/exhaustive-deps_) will also break it.

[2022-02-14 21:38] AJax2012 commented on #277
@mpetricek I just want to check to make sure I understand what the issue you're facing is - Are you trying to log into your app with Google OAuth, but through an email link? Is that where you're seeing errors?

[2022-02-15 05:50] mpetricek commented on #277
@AJax2012 No, there are two errors. -32603 is happening when using magic link flow (link in email). Failed to retrieve oauth access token happens when using Google oAuth.

[2022-02-15 05:56] AJax2012 commented on #277
@mpetricek do you have examples of any of your code? It would be difficult to recreate or debug without any samples.

[2022-02-16 18:50] smithki commented on #277
To aid in our troubleshooting, please provide a reproducible example of the problem.

[2022-02-23 00:29] Ethella commented on #279
Start taking a look.

[2022-02-27 08:50] spencekim opened #284 "Solana extension "kitchen sink" example does not work"
### 🐛 Description

https://codesandbox.io/s/github/MagicLabs/example-solana

Sending the transfer transaction does not work.

### 🧩 Steps to Reproduce

1. Log in and verify email.
2. Click sign transaction.
3. Click send transaction.

### 🤔 Expected behavior

The transaction is sent successfully.

### 😮 Actual behavior

The transaction fails.

<img width="729" alt="Screen Shot 2022-02-27 at 12 50

[2022-02-27 23:30] jorgisimo90 opened #285 "https://www.giftya.com/"

[2022-02-28 10:19] mightymatth opened #286 "Get enabled OAuth providers"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Add OAuth SDK functionality to see which OAuth provider is enabled.

## 🧩 Context

As I can see, there is no way to see which OAuth providers are enabled. So, in our applications, we need to

[2022-02-28 10:27] mightymatth opened #287 "Improve OAuth types"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Either export `HiddenExtensionFields` interface or create a new one:
[code]

## 🧩 Context

When I create a Magic instance:
[code]
...this returns:
[code]

Now, if I want to declare this vari

[2022-02-28 10:41] mightymatth opened #288 "OAuth loginWithCredential when already logged in"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

After login with OAuth and getting a redirect URL to our website, it fails to log in if the user is already logged in.

### 🧩 Steps to Reproduce

1. Clic

[2022-02-28 10:52] mightymatth opened #289 "OAuth loginWithRedirect method resolves before redirect"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

A promise returned from `oauth.loginWithRedirect()` method is returned too early before the redirect actually happens.

### 🧩 Steps to Reproduce

1. Have

[2022-02-28 11:58] mightymatth opened #290 "Provider's `eth_requestAccounts` lasts too long"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

I've noticed that a simple signer call `eth_requestAccounts` lasts for up 1-2 seconds, which is weird. Well, if the user didn't log out or change the acc

[2022-02-28 16:35] smithki commented on #284
cc @harryEth

[2022-02-28 16:35] #285 closed

[2022-03-03 22:01] bmeeder22 opened #291 "Solana `signTransaction` drops signatures from transactions which are partially signed"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

If Solana transactions need multiple signers then calling `transaction.partialSign(Keypair)` is necessary.

If a Solana transaction is partially signed b

[2022-03-04 15:09] bmeeder22 opened #292 "testMode does not support Solana"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When running magic in `testMode: true` with the purpose of creating automated end to end tests. We would like to use test mode's [advanced usage and spec

[2022-03-04 15:49] bmeeder22 commented on #292
Here is an example code sandbox which shows that while using a test email address the Solana Address comes through as an ETH address (starts with 0x).

https://codesandbox.io/s/nervous-feather-ikqn0d?file=/package.json

[2022-03-04 16:32] bmeeder22 commented on #291
You also cannot partially sign the transaction after due to this bug: https://github.com/solana-labs/solana/issues/20743

[2022-03-04 17:07] bmeeder22 commented on #291
Here is a sandbox link demoing the issue: https://codesandbox.io/s/magic-solana-partial-sign-5p1ij0?file=/src/App.js

[2022-03-04 17:49] bmeeder22 commented on #291
Several suggestions of things that might be the issue:

While calling `transaction.sign` in your relayer code, you aren't passing any partial signers that exist since this resets signers. Additionally you can just call `transaction.partialSign` which will not reset the original signers and will allow already partially signed transactions to be signed and serialized.

[2022-03-04 18:02] bmeeder22 commented on #291
Another option is to upgrade your version of `@solana/web3.js` to `1.36.0` so that we can use this workaround: https://github.com/solana-labs/solana/issues/20743#issuecomment-995576627

Since the reason this broke is the difference in the way that the solana transaction message is compiled between magic and our end.

[2022-03-07 18:59] techgangboss commented on #281
+1, we have users asking for Magic wallet support and this is a blocker

[2022-03-08 00:38] Ethella commented on #279
Some follow-up to this ticket. This happens only on iOS devices, where our auth relayer storage gets partitioned and made ephemeral by Apple Webkit ITP. We'll investigate for a better solution, but very unlikely in a short term.

[2022-03-14 14:34] picks44 opened #295 "Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
### 🐛 Description

When upgrading from **magic-sdk v6.2.1** to **magic-sdk v8.1.0** within a perfectly working VueJS3 project, I am getting this warning when serving my app (yarn serve):

[code]

### 🌎 Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| `magic-sdk`      | 8.1.0
| Browser          | Chrome
| `yarn`           | 1.22.17
| Operating System | Windows

[2022-03-14 16:41] smithki commented on #295
Please provide a reproducible example and we'll take a look.

[2022-03-16 07:44] Gyunbie commented on #295
I just created a Nuxt project with TailwindCSS preset and installed Moralis with dependencies and I get this error

[2022-03-16 16:02] smithki commented on #295
Please provide a _reproducible_ example and we'll take a look.

[2022-03-16 21:48] Adamj1232 commented on #295
Same issue breaking our build using Magic-SDK 8.1.0 at Blocknative
<img width="1209" alt="Screen Shot 2022-03-16 at 3 45 15 PM" src="https://user-images.githubusercontent.com/24457880/158696373-71d97256-1c47-486d-ae7d-176f11793ecf.png">

- Clone https://github.com/blocknative/react-demo
- Switch to develop branch
- run `rm yarn.lock && yarn install --network-concurrency 1`
- run `yarn build`
- see

[2022-03-17 11:50] fmonper1 commented on #244
I've stumbled into the same problem in a proyect im working on. Any updates on this?

[2022-03-17 12:46] Standaa commented on #244
@harryEth Any updates on this? Three algorand related issues have been pending for over four months.

[2022-03-21 18:21] bmeeder22 commented on #295
+1

[2022-03-22 17:38] klngrs opened #297 "ES module import fails for @magic-ext/harmony in yarn PNP strict mode"
### ✅ Prerequisites

- [yes] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [yes] Are you running the latest SDK version?
- [yes] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description
The following fails during compile:
`import { HarmonyExtension } from "@magic-ext/harmony";`

### 🧩 Steps to Reproduce

1. Create a regular webpack

[2022-03-22 17:51] validityone commented on #297
Proposed PR for a fix: https://github.com/magiclabs/magic-js/pull/298

[2022-03-23 17:43] Gyunbie commented on #295
This is pretty reproducible in like 5 minutes, depending on how much you want to develop your library. Again, creating a Nuxt project with TailwindCSS preset and installing Moralis dependencies makes this error show up on my screen.

[2022-03-23 17:56] Adamj1232 commented on #295
@smithki
We have customers sending us this issue trying to make Magic available to their customers and their build breaking.
Please update us on the progress of this so we can pass along

[2022-03-23 17:59] smithki commented on #295
Thank you for the code sample @Adamj1232. I'm off-the-clock this week but will make time for this early next week.

[2022-03-26 23:11] hcote commented on #244
Hey @Standaa @fmonper1 the `magic.algorand.signTransaction` function only supports payment transaction types. We're working on updating it so that all transaction types are supported and when it's resolved I'll update this thread.

You could try and use magic.algorand.signGroupTransactionV2` which doesn't have that limitation in the meantime.

[2022-03-27 10:04] fmonper1 commented on #244
@Standaa I got it working using this code. It feels a bit hacky, but untill the apis get updated its the best I could come up with.

[code]

[2022-03-28 18:52] 3x071c opened #300 "Usage on the server-side"
### ✅ Prerequisites

- [X] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [X] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

I've been playing around with Magic (pretty cool!) and a web app in [Remix](https://remix.run), a relatively new React framework which puts a heavy emphasis on server-side computing in `load

[2022-03-28 18:53] 3x071c commented on #300
I saw that you have a Passport.js authentication strategy, maybe that's adaptable to [remix-auth](https://github.com/sergiodxa/remix-auth) which is inspired by it.

[2022-03-29 18:59] smithki commented on #295
After digging into this issue a bit, the warning appears to be related to this code being inlined into `magic-sdk`'s ESM output:

[code]

This could either be resolved at the ESBuild layer, but can be worked around for your individual purpose by adjusting your bundler config to resolve `magic-sdk` to its CommonJS entrypoint (`magic-sdk/dist/cjs/index.js`), which won't manifest this warning. It is

[2022-03-29 18:59] #295 closed

[2022-03-30 00:26] hcote commented on #244
@fmonper1 @Standaa this should be fixed now. Once you create the `Transaction` object with `algosdk.make...TxnWithSuggestedParams()` just encode the object and pass it to `magic.algorand.signTransaction(encodedTxn)`.

[code]

[2022-03-30 07:28] picks44 commented on #295
Wonderfull, thanks @smithki

[2022-03-30 08:41] fmonper1 commented on #244
The example above works out fine for sending algorand payments, but when trying to do the same with other ASAs it doesnt work.

[2022-03-30 16:10] #300 closed, assigned to nobody

[2022-04-04 08:07] RickGove opened #301 "Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
### ✅ Prerequisites

- [ Yes ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [ Yes ] Are you running the latest SDK version?
- [ Yes ] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

./node_modules/magic-sdk/dist/es/index.js
Critical dependency: require function is used in a way in which dependencies cannot be statically e

[2022-04-04 16:59] smithki commented on #301
Closing as duplicate of https://github.com/magiclabs/magic-js/issues/295

Suggested workarounds are described in that issue 👆

[2022-04-04 16:59] #301 closed

[2022-04-06 18:30] Ethella commented on #297
@harryEth

[2022-04-07 19:31] #185 closed

[2022-04-07 19:39] Ethella commented on #280
@guillaumervls the behavior you have is not very common, since we haven't received any similar reports before. Theoretically, the relayer does not consume many resources for authentication. Feel free to post your reproducible example here.

[2022-04-07 19:39] #280 closed

[2022-04-07 22:07] #291 closed

[2022-04-11 15:42] danlg opened #305 "Magic RPC Error: [-32603] loginWithSMS magic-sdk@8.1.0. Also in earlier versions (6.2.1, 7.0.0, 8.0.1)"
### ✅ Prerequisites

- [ x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
not reported
- [ x] Are you running the latest SDK version?
Yes
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description
I need loginWithSMS with React / Electron @smithki
I have tried to amend the example repo :
https://github.com/magiclabs/example-electr

[2022-04-11 19:28] danlg commented on #305
I have managed to fix the issue using sdk 6.2.1. The problem was due to the
magic.auth.loginWithSMS({ phone}) actually the variable name matters and is a shortcut for magic.auth.loginWithSMS({ "phoneNumber": phone}); However the error was not clear at all.

[2022-04-12 19:09] Ethella commented on #305
@danlg Hi, thx for reporting the turbulence. I'll relay this back to the team. 😄

[2022-04-12 19:09] #305 closed

[2022-04-13 16:43] jack828 opened #308 ""No available storage method found" React Native"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

I cannot use any methods provided by the Magic SDK due to this error.

### 🧩 Steps to Reproduce

1. Install the SDK
2. Initialise the SDK and attempt to

[2022-04-13 23:13] aoloo opened #309 "Magic RPC Error: [-32603] Internal error: Auth user session has expired. Please log in again"
### ✅ Prerequisites

- [ ✅ ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [ X ] Are you running the latest SDK version?
- [ ✅ ] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description
My current workflow allows users to login or signup using the `loginWithMagicLink` api with a redirect url when a user clicks the authentication lin

[2022-04-14 02:29] aoloo commented on #305
@Ethella I hope you are well. I am experiencing an issue with that error code. I created an issue https://github.com/magiclabs/magic-js/issues/30. Do you have any insight on what could be causing this? Thank you for all the work your putting in into this project.

[2022-04-14 09:32] vertti commented on #243
NextJS example app for Magic prints a lot more preload warnings on every page load:

<img width="648" alt="Screenshot 2022-04-14 at 10 30 01" src="https://user-images.githubusercontent.com/557751/163357198-b29d2d34-f9df-4903-984d-0e14e24bb0cc.png">

[2022-04-16 11:02] aoloo commented on #309
I was able to solve the issue. This was being cause by my implementation.

[2022-04-16 11:02] #309 closed

[2022-04-18 21:41] bmeeder22 opened #310 "Solana `signTransaction` drops signatures from transactions which are partially signed"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

If Solana transactions need multiple signers then calling `transaction.partialSign(Keypair)` is necessary.

If a Solana transaction is partially signed b

[2022-04-18 21:47] bmeeder22 commented on #310
This issue can be fixed on the magic server by instead of calling `transaction.sign(keypair)` you instead call `transaction.partialSign(keypair)` which will preserve all of the signatures during serialization.

[2022-04-20 21:18] Ethella commented on #310
@harryEth Could you take a look?

[2022-04-22 18:43] Adamj1232 commented on #295
@smithki can you give an idea of what this bundler config would look like to resolve to CommonJS entrypoint? We have multiple customers asking for examples

[2022-04-22 19:58] smithki commented on #295
@Adamj1232 that would really depend on your bundler. I suggest looking for docs specific to your tooling. Unfortunately, there is no "conventional wisdom" to share.

[2022-04-22 20:35] Adamj1232 commented on #295
Do you have examples for webpack and rollup? Those are the most common for our users

[2022-04-23 13:00] smithki commented on #295
I can point you to these resources, but have not yet attempted to write a working example:

- [Webpack `resolve.alias`](https://webpack.js.org/configuration/resolve/#resolvealias)
- [Rollup `@rollup/plugin-alias`](https://www.npmjs.com/package/@rollup/plugin-alias)

For the record, I don't work at Magic anymore. All I can provide is limited "free" support like this. If you are looking for extra he

[2022-04-28 06:08] osequi opened #311 "Magic RPC Error: [-10010] Receipient's inbox is not configured to receive emails."
### ✅ Prerequisites

- [ x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [ x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I'm getting this error for signing in with `test@test.com`.
I couldn't find this error message in the documentation: https://magic.link/docs/api-reference/client-side-sdks/web#errors-warnings
My que

[2022-04-29 05:34] 7flash opened #312 "Support EOSIO chains: WAX, EOS, TELOS"

[2022-05-02 22:05] Ethella commented on #312
Thx for your valuable feedback, I've shared it with our team.

[2022-05-02 22:05] #312 closed

[2022-05-02 22:23] hcote commented on #312
@7flash we do support Telos - you can connect to either of these rpc URL

'https://testnet.telos.net/', 'https://mainnet.telos.net/'

[2022-05-02 22:52] Ethella commented on #311
Hi @osequi, yes, there're undocumented errors. As these errors are more related to end-users, we choose to display them in the modal to direct end-users. If you, as a developer, need to handle these errors separately, please elaborate on your use case and we may discuss it.

[2022-05-02 22:58] Ethella commented on #295
Thx @smithki, I'll take it from here.

Though I'm not an expert on ESbuild, I will start to check the demo in the thread. @Adamj1232 Feel free to ping me for any more context you have.

[2022-05-02 23:23] Adamj1232 commented on #295
@Ethella I have a fix for react using CRACO
[code]
For pure webpack I believe `alias` is nested with `resolve` ... `resolve.alias...`

These would be helpful to add to your documentation

[2022-05-02 23:26] Ethella commented on #295
I was about to say I found no issues reported during the build because you already fixed it 🚀.

I'll update our doc to reflect your suggestion. Thx a lot!

[2022-05-06 09:20] victor-oancea-leftclick-io opened #313 "Decouple expo web browser from RN ext oauth"
### ✨ Feature Request

The oauth RN implementation requires expo-web-browser, which requires expo.

We need to be able to use it on projects that don’t use expo.

## 💻 Examples

https://reactnative.dev/docs/linking#openurl Could be used

[2022-05-09 10:25] vertti opened #314 "Callback URL is stripped from query parameters"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Setting a callback url returns you back to that URL but if the URL had query parameters, those are removed.

### 🧩 Steps to Reproduce

[code]
With the ab

[2022-05-10 05:03] Ethella commented on #314
@vertti This feature has been considered and the ETA will be roughly by this quarter

[2022-05-10 05:03] #314 closed

[2022-05-10 05:04] #311 closed

[2022-05-12 09:11] davzb opened #315 "The request 'process/browser' failed to resolve only because it was resolved as fully specified with webpack 5 and CRA"
Hello,

I tried to implement magic with Solana extension into react 18 and webpack 5. I created webpack config to install some polyfill but I am still getting this error:

[code]

Did you have similar issue and did you correct it, kinda lost right now with this issue.
Thank you guys

[2022-05-14 06:13] daweth opened #317 "Add support for TRON"
### ✨ Feature Request

Justin sun will be taking us all to the moon soon with the launch of USDD.
It would be nice to have some tron itegration for magic, the wallet/chain interface is a bit different.

## 💻 Examples

Magic Link for TRON

[Do you have any example(s) for the requested feature? If so, describe/demonstrate your example(s) here.]

[2022-05-16 17:53] Ethella commented on #315
Could you provide a reproducible example?

[2022-05-17 14:11] fmonper1 commented on #244
Anyone looking into this?

[2022-05-18 19:00] Standaa commented on #244
@fmonper1 Ended up dropping Magic altogether.
Production feedback from friends + Lack of team responsiveness + the extensions being closed-source + the lacklustre node APIs were way too many redflags.

[2022-05-23 21:20] Ethella commented on #313
Hey @victor-oancea-leftclick-io. I've taken a closer look at all the possible solutions including the one you suggested.

However, with bare RN, I couldn't find a good library that supports both SFAuthsession in iOS and CustomTab in Android, which are the two key components for OAuth2 integrations in our mobile infra to ensure security.

* The `openURL` API from RN  is not feasible, that it only o

[2022-05-26 03:03] heymartinadams opened #318 "Sign-in via 6-digit code sent to email"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] **There is no repo called `magic-sdk`** Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Instead of sending an authentication link to the user’s email, can Magic send a 6-digit code to the user’s email, which the user then uses to authenti

[2022-05-26 03:08] heymartinadams commented on #318
Lol! Looks like that feature already exists! 🎉 https://magic.link/docs/api-reference/client-side-sdks/web#loginwithemailotp

[2022-05-26 03:08] #318 closed

[2022-06-01 12:32] johanneskares opened #320 "loginWithMagicLink swallows events on Safari"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

On Safari I'm not able to create a loading animation when the user signs in.

### 🧩 Steps to Reproduce

1. Open Codesandbox on Safari: https://codesandbo

[2022-06-01 16:31] johanneskares commented on #320
If found a workaround: Call `magic.preload()` on startup. I guess this should be documented somewhere.

[2022-06-01 18:46] iamwilhelm opened #321 "How to keep a user logged in after browser reload?"
### ✅ Prerequisites

- [✅] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [✅] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I'm able to successfully call loginWithMagicLink, click the email, then call loginWithCredentials to log the user in. When calling isLoggedIn(), it returns true. However if I reload the browser and ca

[2022-06-03 14:11] edmbn commented on #310
@bmeeder22 @harryEth maybe it can work backwards? Sign transaction in client with .sign() and then send it to the server and make .partialSign() on our own server?

[2022-06-03 21:22] Ethella commented on #310
@edmbn Forwarded your request to the stakeholder

[2022-06-03 21:23] Ethella commented on #320
Thx for the feedback. Will take a look!

[2022-06-03 21:23] #320 closed

[2022-06-03 21:58] edmbn commented on #310
@Ethella thank you... communication is really appreciated. Discord has been very in silence lately and getting some answers or information is quite difficult. If you need anything ask us about the problem and will try to help as much as possible.

[2022-06-04 21:28] michaelhly opened #322 "React Native Web: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description
Nothing happens when I run `const didToken = await m.auth.loginWithSMS({ phoneNumber });` on React native web.

### 🧩 Steps to Reproduce

1. Create React

[2022-06-06 00:29] Ethella commented on #322
Do you use the react-native web? I believe that's not officially supported yet

[2022-06-06 01:00] michaelhly commented on #322
@Ethella the magic react native SDK does not support web?

[2022-06-06 01:43] Ethella commented on #322
Yes, that's right

[2022-06-06 19:08] michaelhly opened #323 "Error: Magic RPC Error: [-32603] Internal error: JSON-RPC error. (Login with SMS)"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description
RPC error when trying to invoke `sdk.auth.loginWithSMS({ phoneNumber })`.

[Description of the bug.]

### 🧩 Steps to Reproduce

1. Create React Native app

[2022-06-06 20:36] michaelhly commented on #323
Issue was b/c I had `testmode` turned toggled. What is test mode?

[2022-06-06 20:36] #323 closed

[2022-06-06 22:29] bethhowell123 commented on #323
Hey @michaelhly thanks for updating with a resolution!  `testMode` allows you to streamline your integration testing by eliminating the need to navigate to your mail client and click an actual Magic Link.  More details in our docs here: https://magic.link/docs/introduction/test-mode

Let us know if you have any additional questions!

[2022-06-07 10:36] edmbn commented on #310
In case it helps to understand a clear use case for this: With Solana Pay specification users receive a partially signed transaction that must then sign and send. If we can't handle partially signed transactions users are blocked from using Solana Pay with existing Magic wallets.

[2022-06-08 01:56] #313 closed

[2022-06-08 01:57] #315 closed

[2022-06-08 02:05] Ethella commented on #310
@edmbn Thx for the clarification. It seems it's a must-have use case. Based on the current bandwidth we have, I can only say we'll support it by start of the next month

[2022-06-08 04:41] daweth opened #324 "Avalanche Extension breaks loginWithMagicLink functionality on React Native"
### ✅ Prerequisites

- [x ] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [ x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question
Sorry, I've been stuck on this issue for a few days now.
I'm setting up a magic instance which is a SDKBase with a ReactNative extension.
I'm following the instructions for the Avalanche extension, s

[2022-06-08 18:03] daweth commented on #324
@seanli @FYJen @Ethella @smithki  - any details here?

[2022-06-08 19:17] Ethella commented on #324
Avalance extension is not officially supported in RN. But I can take a look to see what bug you may have encountered

[2022-06-08 19:49] Ethella commented on #324
@daweth It doesn't seem to break my local project. What error do you see after you embed the extension?

[2022-06-08 23:57] daweth commented on #324
Are you able to generate a DID after calling `loginWIthMagicLink` using the Magic Instance w/Avalanche extension?

[2022-06-09 00:01] daweth commented on #324
There is no error. There is simply no result from calling the function within a TryCatch block. There are also no records of handling it on the magic admin dash

[2022-06-09 05:58] Ethella commented on #324
Yes, I'm able to generate DID with Avalanche extension plugged in. Do you mind sharing a reproducible demo with me?

[2022-06-09 16:58] Ethella commented on #324
Cool, feel free to re-open the ticket if you found anything. 😄

[2022-06-09 16:58] #324 closed

[2022-06-14 13:20] EktaAlphait opened #325 "Blockchain Erc20 transfer function is not returning response or error in React-Native"
### ✅ Prerequisites

- [ ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

     when i try to transfer token to other wallet, transfer function is not returning an error or response.

### 🧩 Steps to Reproduce

 1. include magic

[2022-06-17 16:00] #258 closed

[2022-06-17 16:03] #277 closed

[2022-06-17 16:57] am-hernandez commented on #258
Hi @melissafzhang , I've been reviewing your case.  Unfortunately I'm unable to reproduce the problem so will be marking it closed.  If you're still experiencing issues, feel free to reply back with more details and/or a reproducible code snippet and we can revisit.  Thanks!

[2022-06-17 16:59] am-hernandez commented on #277
While reviewing this case I've been unable to reproduce the problem so will be marking it closed.  If you're still experiencing issues, feel free to reply back with more details and/or a reproducible code snippet and we can revisit.  Thanks!

[2022-06-24 10:04] JoaoCampos89 commented on #155
Hey @smithki this allows as well apps to be built on capacitor js, and it will enable people to use magic to build mobile apps, can you provide any timeline for this? I would like to try this to build my mobile app

[2022-06-24 10:10] JoaoCampos89 opened #326 "[DESCRIPTIVE FEATURE NAME]"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Magic should allow custom UTXO blockchains as similar to EVM

## 🧩 Context

I would like to start use magic login for custom UTXO blockchains similar to BTC like for instance Dogecoin. Magic

[2022-06-25 15:25] sushma-orient opened #327 "[WHAT'S YOUR QUESTION?]"
### ✅ Prerequisites

- [ ] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [ ] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I am trying to use magic-sdk to provide user option to login to app
I am facing following issue
REQUEST_NOT_AUTHORIZED_FOR_DOMAIN

![image](https://user-images.githubusercontent.com/104590729/17578012

[2022-06-25 19:06] Ethella commented on #327
@sushma-orient Hi, if you are in development, you could turn off your whitelisting setting in the dashboard. Also, you could try to use HTTP instead of https for your local.

[2022-07-05 07:08] pisarevkir opened #329 "React-Native user authentification check takes a lot of time"
### ✅ Prerequisites

- [✅] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [✅ ] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

We have several questions regarding the authentification process with magic, in particular how to handle the authentification status check on app startup (react-native app). Do you have any best prac

[2022-07-05 16:41] Ethella commented on #329
Hi @pisarevkir, thank you for your feedback. Generally, calls combined should only take around 2~3s. Do you mind sharing your rough location so we can check if it's related?

[2022-07-06 06:46] pisarevkir commented on #329
Hi @Ethella!
We tried to execute those requests from Romania, Russia, Ukraine.
And the first step - `magic.user.isLoggedIn()` takes from 2s to 5s.
The second step for authorized users takes slightly less time, from ~1.5 to 4 secs:
[code]

Just wonder if it's viable solution to get rid of the `magic.user.isLoggedIn` part and make a decision if user is logged-in depending on either `magic.user.getId

[2022-07-07 05:14] osequi commented on #161
Today we've experienced the same problem.

On a fresh deployment, at the first attempt.
After a 2nd, 3rd etc attempts everything worked fine

[2022-07-07 13:05] itseasy21 opened #330 "Should different websites return different wallet address for same email"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question
This is completely regarding the web3 wallet provided by magic-sdk.

#### Scenario:
There is a nft marketplace that supports magic SDK login and user login using the magic link with email abcd1@gmail.c

[2022-07-07 13:39] am-hernandez commented on #330
Hello @itseasy21 and thank you for submitting this issue.

You are experiencing expected behavior. The wallets created via **Magic Auth** are scoped to the application and are not globally available. When one app utilizes **Magic Auth** login a wallet address will be generated for the user. If that same user goes to another application using their same login credentials, with this other app also u

[2022-07-07 13:39] #330 closed, assigned to nobody

[2022-07-08 01:57] #317 closed

[2022-07-08 02:12] daweth opened #331 "Magic React Native won't accept any custom networks"
### ✅ Prerequisites

- [ x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [ x] Are you running the latest SDK version?
- [ x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When creating a magic instance in a react native app, passing in custom network params breaks the entire instance. Any calls made with the magic insta

[2022-07-08 07:52] #329 closed

[2022-07-08 22:42] edmbn commented on #310
@Ethella can we expect to have this fix anytime soon? Wouldn't be worried if it was anything else but this is super blocking for any e-commerce trying to use Solana Pay. Thank you for your time.

[2022-07-10 05:34] Ethella commented on #310
@harryEth Any updates?

[2022-07-13 11:04] thunderball1 commented on #256
@Ethella yes it persists

[2022-07-13 16:08] Adamj1232 commented on #281
Can we revisit this feature request? It would be great if the Magic Login form was exposed through the SDK and didn't require a redirect to allow for users to use all of the login methods without building each one custom.

[2022-07-13 21:40] Ethella commented on #331
Tested it again with your setup, and the issue you mentioned didn't happen. Could you double-check if your iframe started properly? You may investigate it via `Safari -> Develop -> Your Device -> box.magic.link`

[2022-07-13 21:40] #331 closed

[2022-07-15 00:01] jadbox commented on #281
We'd also be interested in this support!

[2022-07-15 19:00] Royal-lobster opened #332 "Reduce unused javascript from assets.auth.magic.link"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question
assets.auth.magic.link is taking majority of resources. is there a way to reduce unused bytes ?

<img width="1426" alt="CleanShot 2022-07-16 at 00 05 38@2x" src="https://user-images.githubusercontent.c

[2022-07-16 00:25] Ethella commented on #256
Hi @thunderball1, I tested it locally without unimodules and it's working fine. Could you give it a try?
[code]

[2022-07-21 04:04] edmbn commented on #310
@Ethella I know the team may have been busy with the Magic Connect launch but is there any way we can get more info on this issue? It is something that most popular wallets have already solved yet and it is becoming increasingly necessary for Magic too. Thank you!

[2022-07-22 15:47] disappearer opened #333 "Email update has unpredictable behaviour"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Sometimes (more often than not) email update fails, for seemingly various reasons.

### 🧩 Steps to Reproduce

1. Call the `updateEmail()` function
[code]

[2022-07-24 15:26] touhonoob opened #334 "Is there a way to verify email login using public key signature like DID does?"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

Currently email login of magic.link depends on a JWT with HS256 hmac signature that is signed by unknown private key of magic.link authority, which means that there is no way for magic.link users to v

[2022-07-24 18:31] #334 closed

[2022-07-26 15:06] ayv8er commented on #333
This claim is inconclusive as I was unable to trigger any described error (or any errors) as described under "Actual behavior" under same environment. I'd be interested to know when the errors are being thrown and if actually by the updateEmail method itself. Additionally, I'd like to know if these errors prevented a successful email change.

The 400 error message is expected in cases where;
- A l

[2022-07-26 15:14] ayv8er commented on #332
Thank you for bringing this up Kesar.
We'll be discussing this internally and I'll respond once we have an update.

[2022-07-27 06:50] kesar commented on #332
thanks! we've built https://www.npmjs.com/package/@everipedia/wagmi-magic-connector and its starting to get a bit of traction, it would be amazing if we could reduce that bundle problem so we pages don't get bad performance from google which impacts SEO 👍🏻

Let us know if you need any help from our side, we are happy to help!

[2022-07-27 13:14] ayv8er commented on #326
Thank you for the feature request suggestion. Should we ever consider this request, we will reopen this issue.

[2022-07-27 13:14] #326 closed

[2022-07-27 14:13] edmbn commented on #310
@Ethella I want to make a pull request to add the client part of the partialSignTransaction, which is very easy but if this helps speed the whole development I want to do it. Do I need extra permission to upload a branch, don't I?

[2022-08-01 17:26] ayv8er commented on #321
Hello Wil, if you are passing in a redirectURI argument to loginWithMagicLink, upon successful auth, loginWithCredential will be called (without arguments) in the redirect context to strip the magic_credential (did token) from window.location.search.

With all that in mind, after successful auth, subsequent loginWithCredential calls do not need to be made. That should be isolated to the redirect c

[2022-08-01 21:40] ginnymin opened #340 "@magic-sdk/react-native 9.0.0 - expo-modules-core error"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

I was prompted to bump up to 9.0.0 from 8.2.1 over the weekend. When I tried, I kept running into the error `Unable to resolve module expo-modules-core`

[2022-08-01 21:43] ginnymin commented on #340
OK, I must have been reading old documentation, I just noticed the README updates stating that you'll only be supporting expo going forward. Closing this.

[2022-08-01 21:43] #340 closed

[2022-08-01 21:50] dgerrellsMagic commented on #340
Hi @ginnymin, I do want to note that at this time we are only supporting expo but do intend to bring raw react native support back in the future. @Ethella Please correct me on this if I am wrong here.

[2022-08-01 23:34] Ethella commented on #340
@ginnymin, You may still use `8.x` versions for bare RN. And like what @dgerrellsMagic said, we do want to bring back the bare-RN support with bare-RN OAuth in the future.

[2022-08-02 02:10] ginnymin commented on #340
@dgerrellsMagic @Ethella thanks for the clarification!

[2022-08-02 17:27] ariboren opened #341 "Redirect URI query string garbled on email login redirect"
# CRITICAL: BROKEN IN PRODUCTION

### ✅ Prerequisites

- [X] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [X] Are you running the latest SDK version?
- [X] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Starting on July 26, Magic changed the formatting of redirect URIs: previously, I was able to pass a `redirectURI` with

[2022-08-02 18:12] ayv8er commented on #341
Thank you for bringing this to our attention, we'll have this resolved and update here.

[2022-08-02 23:30] ayv8er commented on #341
@ariboren We've deployed a fix to this issue. Thank you for bringing this up.

[2022-08-02 23:30] #341 closed

[2022-08-03 22:24] ayv8er commented on #292
Hello @bmeeder22, thank you for bringing up this feature request! Our documentation currently states that the public address returned from the getMetadata method is associated to the Ethereum blockchain.

[2022-08-03 22:24] #292 closed

[2022-08-04 10:10] thunderball1 commented on #256
@Ethella what do you mean by "without unimodules" ?

[2022-08-09 06:24] VarshaZbyte opened #343 "Can i open social login option in popup instead of redirecting to new url?"
### ✅ Prerequisites

- [X] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [X] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I am adding social login option to my application. But on selecting provider, it is redirecting me to provider's login screen. I want this screen to get opened in my application context or in small po

[2022-08-09 14:26] ayv8er commented on #343
@VarshaZbyte Thank you for bringing up this feature request. I'll make sure it gets through to our Product team so it can be considered to be a part of our roadmap.

[2022-08-09 14:26] #343 closed

[2022-08-10 07:26] bluesign opened #344 "[DESCRIPTIVE BUG NAME]"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

https://github.com/magiclabs/magic-js/pull/293 broke Flow transaction signing for FCL >= 0.0.46

### 🧩 Steps to Reproduce

Try to run demo app with FCL >

[2022-08-10 15:43] am-hernandez commented on #344
Thank you @bluesign for reporting this issue. I will bring this to our Engineering team and will update this issue accordingly.

[2022-08-14 21:26] ginnymin opened #347 ""This login was requested using None, None...""
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I'm using the Magic SDK with bare react native (8.2.1) and I notice the text `This login was requested using None, None...` at the bottom of the login emails. My question is - where is the `None, None

[2022-08-15 11:58] OlehPanforov opened #348 "Error: [-32603] Internal error: User denied account access"
### ✅ Prerequisites

- [+] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [+] Are you running the latest SDK version?
- [+] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

When we call magic.user.getIdToken() or magic.user.getMetadata(), we get the error:
`code: -32603
jsEngine: "hermes"
message: "Magic RPC Error: [-32603]

[2022-08-16 20:31] ayv8er commented on #348
@OlehPanforov Thank you for bringing this to our attention. This is a known issue that's been brought up in a previous GitHub issue# 279. We'll be posting updates on that issue.

[2022-08-16 20:31] #348 closed

[2022-08-17 15:03] ayv8er commented on #286
@mightymatth Our apologies for the delay in responding to this great feature request! I'll make sure this gets brought up with our Product team.

[2022-08-17 15:03] #286 closed

[2022-08-17 15:41] ayv8er commented on #288
Hello @mightymatth, after successful auth, subsequent loginWithCredential calls do not need to be made.
That's only needed after initial login and in the redirect context, or if the end user has logged out or invalidated sessions.
You are correct in using isLoggedIn to check whether a user has a valid session.

[2022-08-17 15:41] #288 closed

[2022-08-17 15:47] mightymatth commented on #288
I'm completely sure that your Auth system is broken in this particular case and you didn't even try to reproduce it, but you easily closed the issue after 6 months just to get rid of it. gz for you! that's how it's done to have better performance at your job, not to make a product better.

[2022-08-17 16:26] ayv8er commented on #288
I am sorry you feel this way, that wasn't our intent.
What you explained doesn't need to be reproduced because it's expected.

The only use case of loginWithCredential is if you're employing an email login method while passing in a redirectURI argument. And even in this case, you should only call this method in the redirect context, not when a user returns and you'd like to check if their session

[2022-08-17 19:04] #321 closed

[2022-08-17 19:27] cryptorrivem commented on #310
@edmbn I just struck with this and find a workaround to it. The `Transaction` class allows you add the `signature` you had from the original partially signed transaction. Here's a snippet that allows you to re-add it to the transaction that Magic signs.

[code]

[2022-08-18 14:51] #90 closed

[2022-08-21 14:24] kobibarhanin commented on #315
Same here, not sure how to provide an example for you, while working on sdk version 4 everything was ok, upgrading to version 9 gave me this issue (I think version 6 was the earliest to present this issue).

[2022-08-21 14:47] kobibarhanin opened #350 "Unsupported Magic Connect method for isLoggedIn call"
I'm getting:
`login error:  Error: Magic RPC Error: [-32603] Internal error: Unsupported Magic Connect method.`

for this code:

[code]

with these versions:

"magic-sdk": "9.0.0"
"@magic-ext/connect": "2.0.2",

[2022-08-22 19:18] am-hernandez commented on #350
Hi @kobibarhanin , thank you for submitting this issue. Please check that you are only calling Magic Connect methods in a Magic Connect app. This error comes from a mismatch of calling Magic Auth methods with a Magic Connect instance. You can see the supported SDK methods here in [Magic Connect - Docs](https://magic.link/docs/connect/connect-sdk/api-reference).

[2022-08-22 19:18] #350 closed

[2022-08-24 07:03] mbret opened #351 "localforage as peerDependency"
### ✅ Prerequisites

- [X] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [X] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Consider adding localforage as peerDependency

## 🧩 Context

Currently there is a duplicate localforage injection if main app is using different version of localforage when bundling. It woul

[2022-08-24 13:19] am-hernandez commented on #351
Hello @mbret , thank you for the feature request! I am going to share this with our Product team so that it may be added to our roadmap.

[2022-08-24 13:19] #351 closed

[2022-08-25 14:29] prosenjitalpine opened #353 "Iframe is malformed! MALFORMED_RESPONSE"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description
A connected (to the Magic wallet) user received the following error message while performing a transaction using `magic-sdk`.
[code]

### 🧩 Steps to Repro

[2022-08-26 08:57] kesar commented on #332
any update on this? we might need to use a different auth provider if this does not get solved. It really affect to SEO and performance to have such a big bundle

[2022-08-26 14:56] am-hernandez commented on #353
Hello @prosenjitalpine  and thank your for opening this issue. I am unable to reproduce this error. You stated above that the error is a result of performing a deposit/withdrawal but you have not provided the corresponding code snippet.

Please share a sandbox or code snippet of how you are making these contract calls. This will help us better understand your issue.

Our docs [How to Integrate wit

[2022-08-26 15:18] am-hernandez commented on #333
Closing this issue due to the following reasons:
- the error is not reproducible
- there has been no activity in the last 30 days.

@disappearer Please feel free to leave additional comments or open a new issue if these errors come up again.

[2022-08-26 15:18] #333 closed

[2022-08-26 22:21] am-hernandez commented on #347
Hello @ginnymin , thank you for reporting this issue.

It looks like the user-agent header couldn't be resolved because it was missing. Including the appropriate header will fix this issue.

[2022-08-27 00:32] ginnymin commented on #347
@am-hernandez how would I go about including that? I'm just using the loginWithMagicLink method

[2022-08-29 22:26] am-hernandez commented on #347
Hi @ginnymin , would you happen to be using an emulator? I don't know how you'd get it to show up with all web requests from the emulator but it should be possible.

[2022-08-30 00:31] ginnymin commented on #347
I first noticed it when logging in from a real device (both android and iOS) but I think I also see it when logging in from the simulator.

[2022-08-30 14:49] jp-melanson opened #354 "What is the expected argument for Solana Extension signMessage function?"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

Why the signMessage function always throws this error?

[code]

I've been trying to invoke it using a `string` as well as a `Uint8Array` but no luck.
The Uint8Array is created from `tweetnacl-ts` lib'

[2022-08-31 20:44] am-hernandez commented on #354
Hello @jp-melanson , thank you for reporting this issue. The expected argument is `Uint8Array`. Here is a working code snippet:

[code]

You may also check out this working [Codesandbox demo](https://codesandbox.io/s/ma-otp-forked-8yt5e7?file=/src/components/Profile.js).

[2022-08-31 20:44] #354 closed

[2022-09-01 09:53] rbrisita commented on #315
Having the same issue. Seems to stem from CRA v5+ and accessing polyfills because webpack 5 doesn't include them anymore.

[2022-09-01 12:45] rbrisita commented on #315
Following these instructions:

https://alchemy.com/blog/how-to-polyfill-node-core-modules-in-webpack-5

And adding:
`"process/browser": require.resolve("process/browser"),`

in the Object.assign secton of the `config-overrides.js` file seems to have fixed it.

[2022-09-01 19:19] kelly-ry4n opened #355 "magic.solana.signMessage fails on react-native"
### ✅ Prerequisites

- [ ✅ ] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?

Mentioned in https://github.com/magiclabs/magic-js/issues/354 but closed - I do not think the issue is resolved.

- [ ✅ ] Are you running the latest SDK version?
- [ ✅ ] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

The web codesandbox here https:/

[2022-09-02 20:40] am-hernandez commented on #347
Hi @ginnymin Would you please try again from your Android and iOS device just to verify the user agent is still missing when using the actual mobile device? I am reopening this issue in the meantime.

[2022-09-04 17:44] ginnymin commented on #347
@am-hernandez Thanks for looking further into this! I just tried from my physical iOS device and the email still says "None, None":

<img width="435" alt="Screen Shot 2022-09-04 at 12 42 56 PM" src="https://user-images.githubusercontent.com/438281/188326557-e85fb7b0-648d-4ca7-9ab5-7e0cf25a8e0b.png">

[2022-09-05 10:45] kesar commented on #332
anyone in the boat?

![image](https://user-images.githubusercontent.com/1288106/188431231-551b4a41-aeed-429c-acb5-564364ab60a7.png)

![image](https://user-images.githubusercontent.com/1288106/188431317-05477807-a7b4-42e4-8de0-3edfa7e129e0.png)

[2022-09-06 19:58] #137 closed

[2022-09-06 20:16] dgerrellsMagic commented on #332
@kesar We support a plethora of blockchains and use code splitting to only deliver what is needed based on the SDK use case. Unfortunately, most blockchain libraries are not optimized for bundle size. Our authentication relies on Ethereum libraries for creating the DID tokens. There is some work that can be done to reduce the overall bundle size however the biggest offenders won't be trivial.

I d

[2022-09-07 17:59] Ethella commented on #355
Hey @kelly-ry4n. Thx for reporting this. I'm taking a look now and shall get back to you shortly.

[2022-09-07 18:33] am-hernandez commented on #245
Hello @disbelief , sorry for the delay in response and thank you for this valuable feature request. I have shared your request with the team so that we may discuss it and possibly add our roadmap.

[2022-09-07 18:33] #245 closed

[2022-09-07 18:57] andreisucman commented on #295
Hey, @Adamj1232  how to do the same for node.js? I can't upload my backend to Heroku because of this same problem. I could solve it for the frontend using your suggestion, but how about node.js? Thank you a lot.

[2022-09-07 19:01] Adamj1232 commented on #295
@andreisucman you would have to look into the documentation for the compiler you are using.

[2022-09-07 19:16] andreisucman commented on #295
@Adamj1232 . I'm using webpack. Here is my config. How can I modify it?

module.exports = {
    mode: 'production',
    entry: './lib/engine.mjs',
    output: {
        library: 'js-chess-engine',
        libraryTarget: 'umd',
        globalObject: 'this',
        umdNamedDefine: true,
        filename: 'engine.js',
    },
}

[2022-09-07 19:20] Adamj1232 commented on #295
I think it would be something like this but you would have to do some testing to confirm.
Official docs for webpack - https://webpack.js.org/configuration/resolve/#resolvealias
[code]

[2022-09-07 19:21] andreisucman commented on #295
Thank you @Adamj1232. I'll test and write.

[2022-09-07 20:01] andreisucman commented on #295
@Adamj1232 It worked! Thanks again. Here is the full snippet for node js using webpack (make sure to update mode, entry, and output per your project).

[code]

[2022-09-07 21:25] am-hernandez commented on #243
Thank you @W4G1 for the feature request. I have added this to our feature request log so that our team can discuss adding this feature to the roadmap.

[2022-09-07 21:25] #243 closed

[2022-09-08 00:20] Ethella commented on #355
@kelly-ry4n, the issue is caused by `JSON.stringify` mangling the original object structure. I'll make a patch soon, and it may requires you to update the Magic RN SDK

[2022-09-08 18:46] vivianfastaf commented on #355
Thanks @Ethella -- Do you have an ETA on the patch fix?

[2022-09-08 18:48] Ethella commented on #355
It should be out today. I will leave a note in the thread.

[2022-09-08 23:44] #355 closed

[2022-09-09 00:09] magiclabsFE commented on #355
:rocket: Issue was released in [`@magic-sdk/react-native@10.0.1`](https://github.com/magiclabs/magic-js/releases/tag/%40magic-sdk/react-native%4010.0.1) :rocket:

[2022-09-09 04:28] pkayfire commented on #279
Is there any update here? This creates a pretty bad experience for our iOS users.

[2022-09-13 12:28] edmbn commented on #310
@cryptorrivem Sorry for getting to you late. Yes, this is a valid workaround. Also, you can make your second transaction signature on the backend and the transaction will have both signatures. Still, this latest workaround won't work with Solana Pay since the transaction already comes with the signature. Hopefully, this gets addressed soon. Thank you for posting your solution.

[2022-09-16 20:37] dgerrellsMagic commented on #351
@mbret Can you expand on what you are seeing here? What do you mean on "duplicate localforage injection"?

[2022-09-20 14:33] hcote commented on #244
@Standaa @fmonper1 This has been fixed and should support all transaction types. You can test out acfg and axfer types here - https://codesandbox.io/s/recursing-frost-lx5qgx?file=/src/App.js

If either of you test it out and run into and issues please bring them back up here.

[2022-09-20 14:33] #244 closed

[2022-09-22 10:48] kb-codes opened #361 "Error: [@RNC/AsyncStorage]: NativeModule: AsyncStorage is null."
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Error: [@RNC/AsyncStorage]: NativeModule: AsyncStorage is null.

To fix this issue try these steps:

  • Rebuild and restart the app.

  • Run the packag

[2022-09-22 16:19] kb-codes commented on #361
And this app was created with React Natiev CLI

[2022-09-23 13:57] kb-codes commented on #361
Please solve this ASAP, I was stuck at work because of this.

[2022-09-23 14:53] kb-codes commented on #361
Here you go,

1. Create a project with this command -  npx react-native init AwesomeProject
2. npm install --save @magic-sdk/react-native
3. npm install --save react-native-webview
4. npx react-native run-android
5. In App.js file:
[code]

[2022-09-25 06:20] kb-codes commented on #361
Hello, @am-hernandez, Any updates ?

[2022-09-27 13:59] VirenMohindra commented on #332
We're consistently failing lighthouse largely because of the magic library.

What is the best workaround to optimize the package so we can get faster load times?

[2022-09-27 15:39] kesar commented on #332
which we ended up doing its to dynamic load blockchain libs when user clicks in login, that way lighthouse gets better score

[2022-09-27 16:51] kb-codes commented on #361
Hello, @am-hernandez,
Please update me with a solution, I'm waiting for the production.

[2022-09-27 17:12] VladimirMikulic opened #363 "@magic-sdk/provider EthNetworkName missing "goerli""
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

@magic-sdk/provider EthNetworkName is missing "goerli".

![Screenshot_20220927_190755](https://user-images.githubusercontent.com/35997844/192591374-6bc8e2f1-f939-48e5-a612-976e32acf591.png)

[2022-09-27 19:19] harryEth commented on #363
Thanks for opening this issue. it got fixed in `magic-sdk@9.1.1`.

closing this issue.

[2022-09-27 19:19] #363 closed

[2022-09-27 19:44] VladimirMikulic commented on #363
Wow. That was fast. Thanks a lot @harryEth!

[2022-09-28 19:50] ilyavf commented on #347
Same issue with both iOS simulator and iPhone device.

[2022-09-28 22:58] ilyavf opened #365 "Provide a method to cancel current login request"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this feature already requested elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ✨ Feature Request

Provide a method that can cancel the current login request initiated with `loginWithMagicLink({ ..., showUI: false })`.

## 🧩 Context

In the out-of-the-box Magic UI there is an option to ch

[2022-09-30 17:55] ayv8er commented on #365
@ilyavf Thank you for bringing this to our attention. I'll make sure this feature request is brought up to our Product team.

[2022-10-03 11:00] amankakar commented on #187
Hi @captain-melanie , I have also facing  the same issue, but not able to understand you solution. Can you please explain it in details.

[2022-10-03 13:26] captain-melanie commented on #187
Hi @amankakar , it's been a long time, I vaguely remember that when I stepped into the code stack, the variable `window.location.search` has already gone before it got to `getRedirectResult`

[2022-10-03 13:45] am-hernandez commented on #361
Hi @kb-codes sorry for the delay in response. I wasn't able to replicate this issue so I asked for some more eyes on this from our Mobile team. Please give us more time to look into this and follow up here. Thank you!

[2022-10-04 11:09] amankakar commented on #187
thanks @captain-melanie

[2022-10-04 23:44] pkayfire commented on #279
I wanted to follow up here. I see this happening on Google Chrome as well.

[2022-10-04 23:44] pkayfire commented on #279
@Ethella

[2022-10-04 23:58] Ethella commented on #279
The fix to the current issue is planned for the first half of Q4. I'll comment in this thread if there's any update

Please let me know if this is a blocker for you and if you're releasing your app anytime soon.

[2022-10-05 00:01] pkayfire commented on #279
Thanks for the response. Our app is currently live and we're paying for a Magic Plus Auth subscription. The paid subscription doesn't deliver any value though if we can't have authenticated routes due to this issue. Is there any way you can fast track the fix?

[2022-10-05 00:05] Ethella commented on #279
Thanks for the feedback. I'll have to relay this back to the team to see if we are able to accommodate your request. I'll get back to you shortly.

[2022-10-05 00:07] pkayfire commented on #279
Thank you!

[2022-10-05 16:12] rcorrie commented on #313
@Ethella have you looked into https://github.com/proyecto26/react-native-inappbrowser ?

[2022-10-05 17:17] rcorrie commented on #313
@ice-ares feel free to try my PR

[2022-10-05 19:19] rcorrie opened #367 "`magic.user.isLoggedIn()` returns false for OAuth authentications after app is restarted"
### ✅ Prerequisites

- [X] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [X] ~Are you running the latest SDK version?~ _(See Description)_
- [X] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Since I am building a RN app without Expo, I need to run the following versions:

[code]

Everything works find with the email link

[2022-10-05 20:12] rcorrie opened #368 "Is there a way of debugging the sdk?"
### ✅ Prerequisites

- [X] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [X] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I am trying to debug this issue https://github.com/magiclabs/magic-js/issues/367

I am having a hard time though, since the source maps don't seem to work when inspecting using chrome devtools.

Does

[2022-10-05 21:54] ilyavf opened #369 "Does latest magic sdk for react native support bare RN workflow?"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

On the readme for `@magic-sdk/react-native` it says that for the bare RN workflow we have to stay on version 8. And states that there will be a separate package for this case:

Is there such a package

[2022-10-06 01:18] ginnymin opened #370 "Not possible to add a Domain/Mobile Access Whitelist for bare React Native?"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I got an email recently that stated we needed to add a domain whitelist by October 31st or else service would not work.

I'm using Magic with a bare React Native app (not Expo) so I am on version 8.x.

[2022-10-06 08:35] w3villa-anchal commented on #163
Hi, Is there any update on this? Is it possible to hide these errors from console if they have to be ultimately ignored?

[2022-10-06 12:57] SpadarShut opened #371 "Magic Connect Demo - log in dialog never loads"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

The Log in link on Connect demo sandbox shows an empty dialog without any buttons.
The network tab in devtools suggests that there was an auth error.
I t

[2022-10-06 13:23] am-hernandez commented on #371
Hello @SpadarShut , thank you for reporting this. To fix this issue now in your forked codesandbox you will just need to update **line 8** in `App.tsx` from `network: "rinkeby",` to `network: "goerli",`. We will update our demo today. Thanks again for pointing this out!

[2022-10-06 14:20] am-hernandez commented on #367
Hi @rcorrie, thank you for reporting this issue. This is a known issue that's been brought up in a previous GitHub issue #279 . We'll be posting updates on that issue's thread.

[2022-10-06 14:20] #367 closed

[2022-10-06 20:03] ayv8er commented on #370
We'll be bringing this up for internal discussion this week.
I'll provide an update on how we plan on addressing this.

[2022-10-06 20:23] ginnymin commented on #370
@ayv8er thanks for the reply! Definitely update me on this as I would prefer to keep using Magic for auth if possible, but if it is not possible then I will need to start the process of replacing it ASAP. I'm sure I'm not the only person in this situation as well.

[2022-10-07 01:38] rcorrie commented on #279
@Ethella Will the fix be available for non-expo apps?

[2022-10-07 17:27] ayv8er commented on #370
The email you recently received only pertains to web applications.
Web apps would have to enable Whitelist Domains and save their domains.
This is not the case for Whitelist Mobile App setting, this will not be required.

[2022-10-07 17:27] #370 closed

[2022-10-08 11:20] KevMac19 commented on #369
@ilyavf I was facing the same issue in my existing running application .

I am able to solve that by adding `expo-modules` and updating package version.

- Update package
[code]
- Install `expo-modules`
[code]
- Android changes

   - `MainActivity.java`

[code]
   - `MainApplication.java`

[code]
- iOS changes

  - `AppDelegate.h`
[code]

[2022-10-12 14:17] HernaniPereira opened #372 "I can't login in my react native app"
### ✅ Prerequisites

- [ ] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [ ] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

I can't login using Magic OAuth for React Native. I'm following this link: https://magic.link/docs/auth/login-methods/social-logins/integration/oauth-implementation/react-native.
I've added my google

[2022-10-13 15:35] charesbast opened #373 "Update type signature of RpcProviderModule to implement Ethers's AbstractProvider"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Similar to https://github.com/magiclabs/magic-js/issues/83, we have the same problem with ethers library: `magic.rpcProvider` type does not match the exp

[2022-10-13 23:29] Ethella commented on #369
It's currently on the road map. We'll announce in the thread when it's ready

[2022-10-13 23:30] Ethella commented on #279
Yes, the fix will be available across all platforms / frameworks

[2022-10-13 23:39] Ethella commented on #279
Sorry for the late reply. The first half in Q4 is the best we can do, as we have quite a few major updates coming up. Thank you for your patience. 🙏

[2022-10-14 23:29] pkayfire commented on #279
Got it -- thanks for letting us know. Will watch for updates on this issue. Thanks!

[2022-10-17 19:11] 0xFloop opened #374 "How to sign typed data using Ethers.js and Magic Connect?"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this question already asked elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### ❓ Question

Signing typed data using Magic Connect as wallet provider in ethers is throwing "TypeError: Cannot read properties of undefined (reading 'EIP712Domain')" after clicking the sign button. The ui is then

[2022-10-18 16:16] SpadarShut opened #375 "magic.connect.showWallet().then() never fires"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [c] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description
I'm trying to listen to event when wallet dialog is open with `magic.connect.showWallet().then(...)` but this never fires. The promise only settles to err

[2022-10-18 20:02] am-hernandez commented on #375
Hi @SpadarShut , thank you for reporting this issue. We are currently working on this issue and will follow up when it is resolved.

[2022-10-19 22:11] am-hernandez commented on #374
Hi @0xFloop , thank you for reporting this issue. We will be taking a look at this and following up here!

[2022-10-19 22:20] 0xFloop commented on #374
Update on the issue, using ethers method _signTypedData(domain, types, value) does not work for some reason. But the same data manually signed via signer.provider.send("eth_signTypedData_v4", params) does work. This is confusing because the ethers method is calling the .send method within it. All it does is format the data a little different. This discrepancy between methods of signing data does n

[2022-10-23 01:27] nftsmasher opened #377 "Avoid replacing the whole query string in loginWithCredential API"
## Issue
If ```loginWithCredential``` gets invoked without a parameter, the existing logic looks for the credential from query string.
It then removes the whole query string instead of removing only ```magic_credential```.
Any app specific query string gets lost because of this.

Example:

becomes

Notice that the app specific query string also gets lost.

## Solution
Replace
https://github.com/ma

[2022-10-23 01:51] nftsmasher opened #378 "Avoid replacing the whole query string in loginWithCredential API"
### ✅ Prerequisites

- [X] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [X] Are you running the latest SDK version?
- [X] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

If ```loginWithCredential``` gets invoked without a parameter, the existing logic looks for the credential from query string.
It then removes the whole q

[2022-10-23 01:52] nftsmasher commented on #377
Closing this to use the issue with the template

[2022-10-23 01:52] #377 closed

[2022-10-27 22:32] KholdStare opened #380 "Magic RPC Error: [-32603] Internal error: eip-1559 transactions don't support gasPrice"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

Sporadically I receive an error like

"Magic RPC Error: [-32603] Internal error: eip-1559 transactions don't support gasPrice"
![image](https://user-imag

[2022-10-28 14:38] am-hernandez commented on #380
Hi @KholdStare and thank you for reporting this issue. You will need to include a `gasPrice` in your transaction object in order for it to send as a non-EIP-1559 transaction. Include the `gasPrice` and you won't face this error.

[2022-10-28 14:38] #380 closed

[2022-11-01 22:34] 0xFloop commented on #374
@am-hernandez any update?

[2022-11-03 15:12] am-hernandez commented on #378
@nftsmasher Thank you for reporting this issue with the template! This looks like a feature request so i marked it as one. I will share this with our Product team so we can discuss it further.

[2022-11-03 15:12] #378 closed

[2022-11-03 16:40] am-hernandez commented on #373
Hi @charesbast and thank you for submitting this issue. I've gone ahead and marked this as a feature request. Will update this thread when we implement the requested changes!

[2022-11-03 16:40] #373 closed

[2022-11-03 19:36] am-hernandez commented on #353
Closing because the no steps to reproduce have been provided.

[2022-11-03 19:36] #353 closed

[2022-11-04 00:07] pkayfire commented on #279
Hi I just wanted to follow up here to see if your team is on track to release a fix for this issue in the first half of Q4. Thanks!

[2022-11-04 10:03] mikeavvad opened #381 "magic.oauth.loginWithPopup for Web"
### ✨ Feature Request

Create `magic.oauth.loginWithPopup` for Web

## 🧩 Context

Now for social logins it's only possible to use `magic.oauth.loginWithRedirect` which doesn't cover all cases.
I have an application that is injected to other apps as a library and I wanna do login inside my app without reloading the whole parent app. I feel like `magic.oauth.loginWithPopup` will cover this case.

##

[2022-11-05 02:48] paro-paro opened #382 "Magic Auth Web: magic.user.getMetadata returns different publicAddress for same user email when connecting to "goerli" network"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you running the latest SDK version?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

I would like to implement Magic Auth Web (magic-sdk) in a Vuejs dapp. However, while doing some local testing of the sdk, I have come across the followin

[2022-11-07 05:49] NikhilSharma03 opened #383 "Failed to login for BNB Chain"
### ✅ Prerequisites

- [x] Did you perform a cursory search of open issues? Is this bug already reported elsewhere?
- [x] Are you reporting to the correct repository (`magic-sdk`)?

### 🐛 Description

I am trying to integrate magic link to login on BNB Chain but getting error.

#### Screenshot
![magic auth error](https://user-images.githubusercontent.com/58226527/200239512-ac3011eb-4e42-4e74-a49d-